<li class="{{item.system.sourcebook}}">
	<div class="btn-container">
		{{#if @root.editable}}
			<button type="button" class="btn-action-edit js_editItem" data-itemid="{{item._id}}" data-tooltip="{{localize 'FU.actions.edit'}}">
				<i class="fa fa-pencil m-0"></i>
			</button>
			<button type="button" class="btn-action-delete js_deleteItem" data-itemid="{{item._id}}" data-tooltip="{{localize 'FU.actions.delete'}}">
				<i class="fa fa-trash m-0"></i>
			</button>
		{{/if}}
	</div>
	<div class="item-box">
		<div class="item-box-data">
			{{#if @root.editable}}
				<button type="button" class="btn-action-showchat js_showItemInChat" data-itemid="{{item._id}}" data-tooltip="{{localize 'FU.actions.showInChat'}}">
					<i class="fa fa-comment m-0"></i>
				</button>
				<button type="button" class="btn-action-roll name js_rollActorItem" data-itemid="{{item._id}}" data-primary="{{item.system.attributes.primary.value}}" data-secondary="{{item.system.attributes.secondary.value}}" data-tooltip="{{localize 'FU.actions.castSpell'}}">
					{{item.name}}
					{{#if item.system.isOffensive.value}}
						<div class="icon icon-offensive"></div>
					{{/if}}
				</button>
			{{else}}
				<label>
					{{item.name}}
					{{#if item.system.isOffensive.value}}
						<div class="icon icon-offensive"></div>
					{{/if}}
				</label>
			{{/if}}
			
			{{#if item.system.isOffensive.value}}
				<strong class="ml-0">
					【{{localize (concat 'FU.attributesAbbr.' item.system.attributes.primary.value)}} + {{localize (concat 'FU.attributesAbbr.' item.system.attributes.secondary.value)}}】{{#gt actor.level.checkBonus.spell 0}}+{{/gt}}
					{{#unless (eq actor.level.checkBonus.spell 0)}}
						{{actor.level.checkBonus.spell}}
					{{/unless}}
				</strong>
				<div class="divider-decoration{{#if (eq actor.level.checkBonus.spell 0)}}m-0{{/if}}"></div>
			{{/if}}
			<strong>
				{{#if item.system.MPCost.upTo}}
					Fino a
				{{/if}}
				{{item.system.MPCost.value}} PM
				{{#gt item.system.target.number 1}}
					x B
				{{/gt}}
			</strong>
			<div class="divider-decoration"></div>
			<strong>{{item.system.target.value}}</strong>
			<div class="divider-decoration"></div>
			<strong>{{localize (concat 'FU.SpellDurations.' item.system.duration.value)}}</strong>
		</div>

		<div class="item-box-description">
			{{{item.enrichedHtml.description}}}
		</div>
		
		{{#if item.enrichedHtml.opportunity.value}}
			<div class="opportunity">
				<strong>Opportunità:</strong>
				{{{item.enrichedHtml.opportunityEffect}}}
			</div>
		{{/if}}
	</div>
</li>