
<li>
	<div class="btn-container">
		{{#if @root.editable}}
			<button type="button" class="js_deleteItem" data-itemid="{{item._id}}">
				<i class="fa fa-trash m-0"></i>
			</button>

			<button type="button" class="js_editItem" data-itemid="{{item._id}}">
				<i class="fa fa-pencil m-0"></i>
			</button>
		{{/if}}
	</div>
	<div class="item-box">
		{{#if @root.editable}}
			<button type="button" class="js_showItemInChat" data-itemid="{{item._id}}">
				<i class="fa fa-comment m-0"></i>
			</button>
			<button type="button" class="name js_rollActorItem" data-itemid="{{item._id}}" data-primary="{{item.system.attributes.primary.value}}" data-secondary="{{item.system.attributes.secondary.value}}">
				{{item.name}}
				{{#if item.system.isOffensive.value}}
					<div class="icon icon-offensive"></div>
				{{/if}}
			</button>
		{{else}}
			<label>
				{{item.name}}
				{{#if item.system.isOffensive.value}}
					<div class="icon icon-offensive"></div>
				{{/if}}
			</label>
		{{/if}}
		<p>
			{{#if item.system.isOffensive.value}}
				<strong class="ml-0">
					【{{localize (concat 'FU.attributesAbbr.' item.system.attributes.primary.value)}} + {{localize (concat 'FU.attributesAbbr.' item.system.attributes.secondary.value)}}】{{#gt actor.level.checkBonus 0}}+{{/gt}}
					{{#unless (eq actor.level.checkBonus 0)}}
						{{actor.level.checkBonus}}
					{{/unless}}
				</strong>
				<small class="{{#if (eq actor.level.checkBonus 0)}}ml-0{{/if}}">◆</small>
			{{/if}}
			<strong>
				{{#if item.system.MPCost.upTo}}
					Fino a
				{{/if}}
				{{item.system.MPCost.value}} PM
				{{#gt item.system.target.number 1}}
					x B
				{{/gt}}
			</strong>
			<small>◆</small>
			<strong>{{item.system.target.value}}</strong>
			<small>◆</small>
			<strong>{{localize (concat 'FU.SpellDurations.' item.system.duration.value)}}</strong>
		</p>

		<div class="description">
			{{{item.system.description}}}
		</div>
		
		{{#if item.system.opportunity.value}}
			<div class="opportunity">
				<strong>Opportunità:</strong>
				{{{item.system.opportunityEffect}}}
			</div>
		{{/if}}
	</div>
</li>