<button type="button" class="getItem" style="width:auto;margin:0;background-color:#fff;border:1px solid #000;border-radius:5px;font-size:16px;position:absolute;left:5px;top:35px;z-index:99999;">log</button>

<header class="sheet-header">
	<input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
	{{#if system.isMartial.value}}
		<div class="martial-icon" data-tooltip="{{localize 'TYPES.Item.martialItem'}}">l</div>
	{{/if}}

	{{#if showClassImage}}
		<div class="class-icon">
			<img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		</div>
	{{/if}}

	{{#if @root.editable}}
		<select class="select-source is-top-right" name="system.sourcebook">
			{{selectOptions sourcebook selected=system.sourcebook localize=true}}
		</select>
	{{/if}}
</header>