<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <button type="button" class="getActor" style="width:auto;margin:0;background-color:#fff;border:1px solid #000;border-radius:5px;font-size:16px;position:absolute;left:5px;top:35px;z-index:99999;">log</button>

    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="head-container">
            <div class="header-fields">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'FU.Sheet.Name'}}" class="name"/>
                <div class="form-group group-input-circle">
                    <label>Livello</label>
                    <input type="number" name="system.level.value" value="{{system.level.value}}" readonly />
                    {{#allTrue (or (sm system.level.value 5) (gte system.level.exp 10)) (sm system.level.value 50)}}
                        <button type="button" class="level-up js_levelUpCharacter" data-tooltip="Puoi salire di livello">
                            <div class="icon icon-level-up"></div>
                        </button>
                    {{/allTrue}}
                </div>
            </div>
            
            <div class="attributes-container">
                <div class="attr hp" data-tooltip="Punti Vita: {{system.resources.hp.current}}<br>Crisi: {{system.resources.hp.crisis}}<br>PV Massimi: {{system.resources.hp.max}}">
                    <label>Punti Vita</label>
                    <div class="progress-container">
                        <div class="progress-bar{{#sm_e system.resources.hp.current system.resources.hp.crisis}} is-crisis-alert{{/sm_e}}">
                            <div class="bar" style="width:{{percentage system.resources.hp.current system.resources.hp.max}}%"></div>
                        </div>
                        <input type="text" class="autoselect" name="system.resources.hp.current" value="{{system.resources.hp.current}}">
                        <button type="button" class="crisis js_setAttrValue" data-attr="hp" data-value="{{system.resources.hp.crisis}}">
                            {{system.resources.hp.crisis}}
                        </button>
                        <button type="button" class="max js_setAttrValue" data-attr="hp" data-value="{{system.resources.hp.max}}">{{system.resources.hp.max}}</button>
                    </div>
                </div>

                <div class="attr mp" data-tooltip="Punti Mente: {{system.resources.mp.current}}<br>PM Massimi: {{system.resources.mp.max}}">
                    <label>Punti Mente</label>
                    <div class="progress-container">
                        <div class="progress-bar">
                            <div class="bar" style="width:{{percentage system.resources.mp.current system.resources.mp.max}}%"></div>
                        </div>
                        <input type="text" class="autoselect" name="system.resources.mp.current" value="{{system.resources.mp.current}}">
                        <div class="crisis"></div>
                        <button type="button" class="max js_setAttrValue" data-attr="mp">{{system.resources.mp.max}}</button>
                    </div>
                </div>

                <div class="attr ip" data-tooltip="Punti Inventario: {{system.resources.ip.current}}<br>PI Massimi: {{system.resources.ip.max}}">
                    <label>Punti Inventario</label>
                    <div class="progress-container">
                        <div class="progress-bar">
                            <div class="bar" style="width:{{percentage system.resources.ip.current system.resources.ip.max}}%"></div>
                        </div>
                        <input type="text" class="autoselect" name="system.resources.ip.current" value="{{system.resources.ip.current}}">
                        <div class="items">
                            <button type="button" class="js_openCompendium" data-compendium="fabula.consumable" data-tooltip="Apri elenco di consumabili">
                                <i class="fa fa-suitcase m-0"></i>
                            </button>
                        </div>
                        <button type="button" class="max js_setAttrValue" data-attr="ip">{{system.resources.ip.max}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="break"></div>

        <div class="attributes-container">
            {{#each system.attributes as |attr attrIndex|}}
                <div class="attr">
                    <label>{{localize (concat 'FU.attributes.' attrIndex)}}</label>
                    <select name="system.attributes.{{attrIndex}}.base" {{#if (lookup (lookup @root.actor.overrides.system.attributes attrIndex) 'base')}}disabled data-tooltip="Non puoi modificare la {{localize (concat 'FU.attributes.' attrIndex)}} <br> finché hai un effetto che la influenza"{{/if}}>
                        {{selectOptions @root.FU.attributesDice selected=attr.base localize=true}}
                    </select>
                    <label>
                        {{attr.current}}
                        {{#if (eq attr.current attr.base)}}
                            <i class="fa fa-fw fa-minus"></i>
                        {{else}}
                            {{#gt attr.current attr.base}}
                                <i class="fa fa-fw fa-caret-up is-up"></i>
                            {{else}}
                                <i class="fa fa-fw fa-caret-down is-down"></i>
                            {{/gt}}
                        {{/if}}
                    </label>
                </div>
            {{/each}}
        </div>

        <div class="attributes-container small">
            <div class="attr">
                <label>Zenit</label>
                <input type="number" min="0" name="system.resources.zenit" value="{{system.resources.zenit}}">
            </div>
        </div>

        <div class="attributes-container small">
            <div class="attr">
                <label>Esperienza</label>
                <input type="number" min="0" name="system.level.exp" value="{{system.level.exp}}">
            </div>
        </div>

        <div class="break"></div>

        <div class="attributes-container small">
            {{#each system.params as |param paramIndex|}}
                <div class="attr param">
                    <label>{{localize (concat 'FU.' paramIndex)}}</label>
                    {{#if param.fixed}}
                        <input type="number" value="{{param.fixed}}" readonly>
                    {{else}}
                        <input type="number" value="{{param.value}}" readonly>
                    {{/if}}
                </div>
            {{/each}}
        </div>

        <div class="attributes-container small">
            <div class="attr">
                <label>Punti Fabula</label>
                <input type="number" min="0" name="system.resources.fp.current" value="{{system.resources.fp.current}}">
                {{#gt system.resources.fp.current 0}}
                    <button type="button" class="btn-roll js_useFUPoint" data-tooltip="Utilizza Punto Fabula">
                        <div class="icon icon-fabula"></div>
                    </button>
                {{/gt}}
            </div>
        </div>
        
        <div class="attributes-container roll">
            <div class="attr">
                <button type="button" class="btn-roll js_rollActorTest" data-tooltip="Effettua un Test">
                    <div class="icon icon-test"></div>
                </button>
                <button type="button" class="btn-roll init js_rollInitiative" data-tooltip="Tira per l'Iniziativa">
                    <div class="icon icon-initiative"></div>
                </button>
            </div>
        </div>

        <div class="break"></div>

        <div class="attributes-container">
            <div class="attr status">
                <label>Status</label>
                {{#each system.immunity as |status statusIndex|}}
                    <div data-tooltip="{{localize (concat 'FU.Status.' statusIndex)}}">
                        <button type="button" class="js_setStatus{{#if status}} is-immune{{/if}}" data-status="{{statusIndex}}">
                            <div class="icon icon-{{statusIndex}} active"></div>
                        </button>
                    </div>
                {{/each}}
            </div>
        </div>
        
        <div class="attributes-container">
            <div class="attr affinities">
                <label>Affinità</label>
                {{#each system.affinity as |affinity affinityIndex|}}
                    <button 
                        type="button" 
                        class="js_setAffinity" 
                        data-affinity="{{affinityIndex}}" 
                        data-tooltip="{{localize (concat 'FU.DamageTypes.' affinityIndex)}}: {{#if (eq affinity '')}}{{localize 'FU.affinity.neutral'}}{{else}}{{localize (concat 'FU.affinity.' affinity)}}{{/if}}" {{#if (lookup @root.actor.overrides.system.affinity affinityIndex)}}disabled{{/if}}
                    >
                        <div class="icon icon-{{affinityIndex}} {{#if (eq affinity '')}}disabled{{/if}}"></div>
                        {{#unless (eq affinity '')}}
                            <span>{{localize (concat 'FU.affinityAbbr.' affinity)}}</span>
                        {{/unless}}
                    </button>
                {{/each}}
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs inner-tabs" data-group="primary">
        <a class="item" data-tab="base">
            <span>Equipaggiamento</span>
        </a>
        <a class="item" data-tab="spells">
            <span>Incantesimi</span>
        </a>
        <a class="item" data-tab="skills">
            <span>Abilità</span>
        </a>
        {{#if (or (gte (arrayLength heroicSkills) 1) (gte obtainHeroicSkill 1))}}
            <a class="item" data-tab="heroic">
                <span>Eroiche</span>
                {{#gt_e obtainHeroicSkill (arrayLength heroicSkills)}}
                    <i class="fa fa-fw fa-circle-exclamation"></i>
                {{/gt_e}}
            </a>
        {{/if}}
        <a class="item" data-tab="traits">
            <span>Tratti</span>
        </a>
        <a class="item" data-tab="effects">
            <span>Effetti</span>
        </a>
        <a class="item" data-tab="settings" style="flex:0;">
            <span><i class="fa fa-fw fa-sliders"></i></span>
        </a>
    </nav>
    <section class="sheet-body">
        <div class="tab base" data-group="primary" data-tab="base">
            <div class="title title-list">
                <span>Equipaggiamento</span>
            </div>
            <div class="equip-container">
                <div class="equip-slots">
                    <div class="slot armor" {{#if system.equip.armor}}data-tooltip="{{localize 'FU.equipment.armor'}} <br> {{lookup (getItemByID items system.equip.armor) 'name'}}" style="background-size:30px;background-image:url({{lookup (getItemByID items system.equip.armor) 'img'}})"{{else}}data-tooltip="{{localize 'FU.equipment.armor'}}"{{/if}}></div>
                    <div class="slot-list">
                        <div class="slot mainHand" {{#if system.equip.mainHand}}data-tooltip="{{localize 'FU.equipment.mainHand'}} <br> {{lookup (getItemByID items system.equip.mainHand) 'name'}}" style="background-size:30px;background-image:url({{lookup (getItemByID items system.equip.mainHand) 'img'}})"{{else}}data-tooltip="{{localize 'FU.equipment.mainHand'}}"{{/if}}></div>
                        
                        <div class="slot-linked {{#allTrue system.equip.mainHand (eq system.equip.mainHand system.equip.offHand)}}show{{/allTrue}}">
                            <i class="fa fa-fw fa-link"></i>
                        </div>

                        <div class="slot offHand" {{#if system.equip.offHand}}data-tooltip="{{localize 'FU.equipment.offHand'}} <br> {{lookup (getItemByID items system.equip.offHand) 'name'}}" style="background-size:30px;background-image:url({{lookup (getItemByID items system.equip.offHand) 'img'}})"{{else}}data-tooltip="{{localize 'FU.equipment.offHand'}}"{{/if}}></div>
                    </div>
                    <div class="slot-list">
                        <div class="slot accessory" {{#if system.equip.accessory}}data-tooltip="{{localize 'FU.equipment.accessory'}} <br> {{lookup (getItemByID items system.equip.accessory) 'name'}}" style="background-size:30px;background-image:url({{lookup (getItemByID items system.equip.accessory) 'img'}})"{{else}}data-tooltip="{{localize 'FU.equipment.accessory'}}"{{/if}}></div>
                        {{#if arcanums}}
                            <div class="slot arcanum" {{#if system.equip.arcanum}}data-tooltip="{{localize 'FU.equipment.arcanum'}} <br> {{lookup (getItemByID items system.equip.arcanum) 'name'}}" style="background-size:30px;background-image:url({{lookup (getItemByID items system.equip.arcanum) 'img'}})"{{else}}data-tooltip="{{localize 'FU.equipment.arcanum'}}"{{/if}}></div>
                        {{/if}}
                    </div>
                </div>
                <ul class="list list-equip">
                    {{#each weapons}}
                        {{#if this.system.isEquipped}}
                            {{> 'systems/fabula/templates/actors/common/attack-list-item.hbs' item=this actor=../actor}}
                        {{/if}}
                    {{/each}}
                    {{#each armors}}
                        {{#if this.system.isEquipped}}
                            {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                        {{/if}}
                    {{/each}}
                    {{#each shields}}
                        {{#if this.system.isEquipped}}
                            {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                        {{/if}}
                    {{/each}}
                    {{#each accessories}}
                        {{#if this.system.isEquipped}}
                            {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                        {{/if}}
                    {{/each}}
                    {{#each arcanums}}
                        {{#if this.system.isEquipped}}
                            {{> 'systems/fabula/templates/actors/common/arcanum-list-item.hbs' item=this actor=../actor}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
            <ul class="list list-equip">
                {{#each weapons}}
                    {{#unless this.system.isEquipped}}
                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                    {{/unless}}
                {{/each}}
                {{#each armors}}
                    {{#unless this.system.isEquipped}}
                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                    {{/unless}}
                {{/each}}
                {{#each shields}}
                    {{#unless this.system.isEquipped}}
                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                    {{/unless}}
                {{/each}}
                {{#each accessories}}
                    {{#unless this.system.isEquipped}}
                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                    {{/unless}}
                {{/each}}
            </ul>

            {{#if arcanums}}
                <div class="title title-list">
                    <span>Arcana</span>
                    {{#if @root.editable}}
                        <button type="button" class="btn-action-add js_createItem" data-type="arcanum">
                            <i class="fa fa-plus"></i>
                        </button>
                    {{/if}}
                </div>
                <ul class="list list-arcanum">
                    {{#each arcanums}}
                        {{#unless this.system.isEquipped}}
                            {{> 'systems/fabula/templates/actors/common/arcanum-list-item.hbs' item=this actor=../actor}}
                        {{/unless}}
                    {{/each}}
                </ul>
            {{/if}}
        </div>

        <div class="tab spells" data-group="primary" data-tab="spells">
            <div class="title title-list">
                <span>Incantesimi</span>
                {{#if @root.editable}}
                    <button type="button" class="btn-action-add js_createItem" data-type="spell">
                        <i class="fa fa-plus"></i>
                    </button>
                {{/if}}
            </div>
            <ul class="list list-spells">
                {{#each spells}}
                    {{> 'systems/fabula/templates/actors/common/spell-list-item.hbs' item=this actor=../system}}
                {{/each}}
            </ul>

            {{#if (or system.castRitual.arcanism system.castRitual.chimerism system.castRitual.elementalism system.castRitual.entropism system.castRitual.ritualism system.castRitual.spiritism)}}
                <div class="title title-list">
                    <span>Rituali</span>
                    {{#if @root.editable}}
                        <button type="button" class="btn-action-add js_createItem" data-type="ritual">
                            <i class="fa fa-plus"></i>
                        </button>
                    {{/if}}
                </div>
                <ul class="list list-spells">
                    {{#each rituals}}
                        {{> 'systems/fabula/templates/actors/common/ritual-list-item.hbs' item=this actor=../system}}
                    {{/each}}
                </ul>
            {{/if}}

            {{#if system.createProject}}
                <div class="title title-list">
                    <span>Progetti</span>
                    {{#if @root.editable}}
                        <button type="button" class="btn-action-add js_createItem" data-type="project">
                            <i class="fa fa-plus"></i>
                        </button>
                    {{/if}}
                </div>
                <ul class="list list-spells">
                    {{#each projects}}
                        {{> 'systems/fabula/templates/actors/common/project-list-item.hbs' item=this actor=../system}}
                    {{/each}}
                </ul>
            {{/if}}
        </div>
        
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="title title-list">
                <span>Classi</span>
            </div>
            <ul class="list list-classes">
                {{#each classes}}
                    {{> 'systems/fabula/templates/actors/common/class-list-item.hbs' item=this actor=../system flags=../flags skills=../skills}}
                {{/each}}
            </ul>
        </div>
        
        <div class="tab heroic" data-group="primary" data-tab="heroic">
            <div class="title title-list">
                <span>Abilità eroiche</span>
            </div>
            {{#gt_e obtainHeroicSkill (arrayLength heroicSkills)}}
                <p>
                    Puoi acquisire {{obtainHeroicSkill}} Abilità Eroiche!
                    <a class="content-link" draggable="true" data-link data-uuid="Compendium.fabula.heroicskill.Item.1rMuu2Rly4ueElJd" data-id="1rMuu2Rly4ueElJd" data-type="Item">
                        Apri elenco di Abilità Eroiche
                    </a>
                </p>
            {{/gt_e}}
            <ul class="list list-heroic">
                {{#each heroicSkills}}
                    {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                {{/each}}
            </ul>
        </div>

        <div class="tab traits" data-group="primary" data-tab="traits">
            <div class="title title-list">
                <span>Tratti</span>
            </div>
            <div class="flexrow flex-traits">
                <div class="form-group">
                    <label>Genere</label>
                    <input type="text" name="system.features.pronouns" value="{{system.features.pronouns}}">
                </div>
                <div class="form-group">
                    <label>Identità</label>
                    <input type="text" name="system.features.identity" value="{{system.features.identity}}">
                </div>
                <div class="form-group">
                    <label>Tema</label>
                    <input type="text" name="system.features.theme" value="{{system.features.theme}}">
                </div>
                <div class="form-group">
                    <label>Origine</label>
                    <input type="text" name="system.features.origin" value="{{system.features.origin}}">
                </div>
            </div>

            <div class="title title-list">
                <span>Legami</span>
                {{#if @root.editable}}
                    <button type="button" class="js_addNewBond">
                        <i class="fa fa-plus"></i>
                    </button>
                {{/if}}
            </div>
            <ul class="list list-bonds">
                {{#each system.bond as |bond bondIndex|}}
                    <li>
                        <div class="btn-container">
                            {{#if @root.editable}}
                                <button type="button" class="btn-action-delete js_deleteBond" data-index="{{bondIndex}}" data-tooltip="{{localize 'FU.actions.delete'}}">
                                    <i class="fa fa-trash m-0"></i>
                                </button>
                            {{/if}}
                        </div>
                        <div class="item-box">
                            <div class="title title-list">
                                <input type="text" name="system.bond.{{bondIndex}}.name" value="{{bond.name}}" placeholder="{{localize 'FU.bond.inputName'}}">
                                {{#gt bond.strength 0}}
                                    <span>+ {{bond.strength}}</span>
                                {{/gt}}
                            </div>
                            <div class="flexrow">
                                <div class="form-group">
                                    <select name="system.bond.{{bondIndex}}.bond1">
                                        {{selectOptions @root.FU.bondType1 selected=bond.bond1 localize=true}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="system.bond.{{bondIndex}}.bond2">
                                        {{selectOptions @root.FU.bondType2 selected=bond.bond2 localize=true}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="system.bond.{{bondIndex}}.bond3">
                                        {{selectOptions @root.FU.bondType3 selected=bond.bond3 localize=true}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
            
            <div class="title title-list">
                <span>Descrizione</span>
            </div>
            {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{#each effects as |category catIndex|}}
                {{> 'systems/fabula/templates/common/active-effects.hbs' category=category element=../actor}}
            {{/each}}
        </div>

        <div class="tab settings" data-group="primary" data-tab="settings">
            <div class="title title-list">
                <span>Tracciamento risorse</span>
                {{#if @root.editable}}
                    <button type="button" class="js_addNewResource">
                        <i class="fa fa-plus"></i>
                    </button>
                {{/if}}
            </div>
            <ul class="list">
                {{#each system.minsResources as |resource resourceIndex|}}
                    <li>
                        <div class="btn-container">
                            {{#if @root.editable}}
                                <button type="button" class="btn-action-delete js_deleteResource" data-index="{{resourceIndex}}" data-tooltip="{{localize 'FU.actions.delete'}}">
                                    <i class="fa fa-trash m-0"></i>
                                </button>
                            {{/if}}
                        </div>
                        <div class="item-box">
                            <div class="flexrow">
                                <div class="title title-list">
                                    <input type="text" name="system.minsResources.{{resourceIndex}}.name" value="{{resource.name}}">
                                </div>
                                <div class="form-group">
                                    <label for="system.minsResources.{{resourceIndex}}.value">Quantità</label>
                                    <input type="number" name="system.minsResources.{{resourceIndex}}.value" id="system.minsResources.{{resourceIndex}}.value" value="{{resource.value}}" min="0">
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>

            <div class="title title-list">
                <span>Immunità agli status</span>
            </div>
            <div class="flexrow">
                {{#each system.immunity as |immunity immunityIndex|}}
                    <div class="form-group">
                        <input type="checkbox" name="system.immunity.{{immunityIndex}}" id="system.immunity.{{immunityIndex}}" {{checked immunity}}>
                        <label for="system.immunity.{{immunityIndex}}">
                            {{localize (concat 'FU.Status.' immunityIndex)}}
                        </label>
                    </div>
                {{/each}}
            </div>

            <div class="title title-list">
                <span>Attributi bonus</span>
            </div>
            <div class="flexrow">
                <div class="form-group">
                    <label for="system.resources.hp.bonus">Punti Vita</label>
                    <input type="number" name="system.resources.hp.bonus" id="system.resources.hp.bonus" value="{{system.resources.hp.bonus}}">
                </div>
                <div class="form-group">
                    <label for="system.resources.mp.bonus">Punti Mente</label>
                    <input type="number" name="system.resources.mp.bonus" id="system.resources.mp.bonus" value="{{system.resources.mp.bonus}}">
                </div>
                <div class="form-group">
                    <label for="system.resources.ip.bonus">Punti Inventario</label>
                    <input type="number" name="system.resources.ip.bonus" id="system.resources.ip.bonus" value="{{system.resources.ip.bonus}}">
                </div>
            </div>
            <div class="flexrow">
                <div class="form-group">
                    <label for="system.params.def.bonus">Difesa</label>
                    <input type="number" name="system.params.def.bonus" id="system.params.def.bonus" value="{{system.params.def.bonus}}">
                </div>
                <div class="form-group">
                    <label for="system.params.mdef.bonus">Difesa Magica</label>
                    <input type="number" name="system.params.mdef.bonus" id="system.params.mdef.bonus" value="{{system.params.mdef.bonus}}">
                </div>
                <div class="form-group">
                    <label for="system.params.init.bonus">Iniziativa</label>
                    <input type="number" name="system.params.init.bonus" id="system.params.init.bonus" value="{{system.params.init.bonus}}">
                </div>
            </div>
        </div>
    </section>
</form>