<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <section class="sheet-body">
        <div class="tab">
            <div class="header">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                <div class="header-body">
                    <div class="head">
                        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'FU.Sheet.Name'}}" class="name"/>

                        <div class="data-group">
                            <div class="form-group">
                                <label>Liv</label>
                                <input type="number" name="system.level.value" value="{{system.level.value}}"/>
                            </div>
                            <select name="system.species">
                                {{selectOptions species selected=system.species localize=true}}
                            </select>
                        </div>
                    </div>

                    <div class="desc">
                        <label>Tratti:</label>
                        <input type="text" name="system.traits" value="{{system.traits}}"/>
                    </div>

                    <div class="affinities">
                        <button type="button" class="js_btnAffinity" data-affinity="physical">
                            <div class="icon icon-physical {{#unless system.affinity.physical}}disabled{{/unless}}"></div>
                            {{#if system.affinity.physical}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.physical)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_btnAffinity" data-affinity="air">
                            <div class="icon icon-air {{#unless system.affinity.air}}disabled{{/unless}}"></div>
                            {{#if system.affinity.air}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.air)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_btnAffinity" data-affinity="bolt">
                            <div class="icon icon-bolt {{#unless system.affinity.bolt}}disabled{{/unless}}"></div>
                            {{#if system.affinity.bolt}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.bolt)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_btnAffinity" data-affinity="dark">
                            <div class="icon icon-dark {{#unless system.affinity.dark}}disabled{{/unless}}"></div>
                            {{#if system.affinity.dark}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.dark)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_btnAffinity" data-affinity="earth">
                            <div class="icon icon-earth {{#unless system.affinity.earth}}disabled{{/unless}}"></div>
                            {{#if system.affinity.earth}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.earth)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_btnAffinity" data-affinity="fire">
                            <div class="icon icon-fire {{#unless system.affinity.fire}}disabled{{/unless}}"></div>
                            {{#if system.affinity.fire}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.fire)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_btnAffinity" data-affinity="ice">
                            <div class="icon icon-ice {{#unless system.affinity.ice}}disabled{{/unless}}"></div>
                            {{#if system.affinity.ice}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.ice)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_btnAffinity" data-affinity="light">
                            <div class="icon icon-light {{#unless system.affinity.light}}disabled{{/unless}}"></div>
                            {{#if system.affinity.light}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.light)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_btnAffinity" data-affinity="poison">
                            <div class="icon icon-poison {{#unless system.affinity.poison}}disabled{{/unless}}"></div>
                            {{#if system.affinity.poison}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.poison)}}</span>
                            {{/if}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="attributes-container">
                <div class="attr">
                    <label>DES</label>
                    <select name="system.resources.attributes.dex.value">
                        <option value="6" {{#if (eq system.resources.attributes.dex.value 6)}}selected{{/if}}>d6</option>
                        <option value="8" {{#if (eq system.resources.attributes.dex.value 8)}}selected{{/if}}>d8</option>
                        <option value="10" {{#if (eq system.resources.attributes.dex.value 10)}}selected{{/if}}>d10</option>
                        <option value="12" {{#if (eq system.resources.attributes.dex.value 12)}}selected{{/if}}>d12</option>
                    </select>
                </div>
                <div class="attr">
                    <label>INT</label>
                    <select name="system.resources.attributes.ins.value">
                        <option value="6" {{#if (eq system.resources.attributes.ins.value 6)}}selected{{/if}}>d6</option>
                        <option value="8" {{#if (eq system.resources.attributes.ins.value 8)}}selected{{/if}}>d8</option>
                        <option value="10" {{#if (eq system.resources.attributes.ins.value 10)}}selected{{/if}}>d10</option>
                        <option value="12" {{#if (eq system.resources.attributes.ins.value 12)}}selected{{/if}}>d12</option>
                    </select>
                </div>
                <div class="attr">
                    <label>VIG</label>
                    <select name="system.resources.attributes.mig.value">
                        <option value="6" {{#if (eq system.resources.attributes.mig.value 6)}}selected{{/if}}>d6</option>
                        <option value="8" {{#if (eq system.resources.attributes.mig.value 8)}}selected{{/if}}>d8</option>
                        <option value="10" {{#if (eq system.resources.attributes.mig.value 10)}}selected{{/if}}>d10</option>
                        <option value="12" {{#if (eq system.resources.attributes.mig.value 12)}}selected{{/if}}>d12</option>
                    </select>
                </div>
                <div class="attr">
                    <label>VOL</label>
                    <select name="system.resources.attributes.wlp.value">
                        <option value="6" {{#if (eq system.resources.attributes.wlp.value 6)}}selected{{/if}}>d6</option>
                        <option value="8" {{#if (eq system.resources.attributes.wlp.value 8)}}selected{{/if}}>d8</option>
                        <option value="10" {{#if (eq system.resources.attributes.wlp.value 10)}}selected{{/if}}>d10</option>
                        <option value="12" {{#if (eq system.resources.attributes.wlp.value 12)}}selected{{/if}}>d12</option>
                    </select>
                </div>

                <div class="attr hp">
                    <label>PV</label>
                    <div class="info">
                        {{system.resources.hp.max}}
                        <span>◆</span>
                        {{system.resources.hp.crisis}}
                    </div>
                </div>

                <div class="attr mp">
                    <label>PM</label>
                    <div class="info">
                        {{system.resources.mp.max}}
                    </div>
                </div>
            </div>
            
            <div class="attributes-container params">
                <div class="attr">
                    <label>
                        Iniziativa: {{system.resources.params.init.bonus}}
                    </label>
                </div>

                <div class="attr">
                    <label>
                        Difesa: {{system.resources.params.def.bonus}}
                    </label>
                </div>

                <div class="attr">
                    <label>
                        Difesa Magica: {{system.resources.params.mdef.bonus}}
                    </label>
                </div>
            </div>

            <div class="content-collapse">
                <div class="title">
                    Attacchi base
                    <button type="button" class="js_addElementToList" data-type="attacks">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="js_toggleCollapse" aria-expanded="false">
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                <div class="collapse">
                    <ul class="list-attacks">
                        {{#each system.attacks as |attack indexAttack|}}
                            <li>
                                <select name="system.attacks.{{indexAttack}}.range">
                                    {{selectOptions ../WeaponRanges selected=attack.range localize=true}}
                                </select>
                                <input type="text" name="system.attacks.{{indexAttack}}.name" value="{{attack.name}}">
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="content-collapse">
                <div class="title">
                    Incantesimi
                    <button type="button" class="js_addElementToList" data-type="">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="js_toggleCollapse" aria-expanded="false">
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                <div class="collapse">
                    Lorem ipsum
                </div>
            </div>

            <div class="content-collapse">
                <div class="title">
                    Altre azioni
                    <button type="button" class="js_addElementToList" data-type="">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="js_toggleCollapse" aria-expanded="false">
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                <div class="collapse">
                    Lorem ipsum
                </div>
            </div>

            <div class="content-collapse">
                <div class="title">
                    Regole speciali
                    <button type="button" class="js_addElementToList" data-type="">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="js_toggleCollapse" aria-expanded="false">
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
                <div class="collapse">
                    Lorem ipsum
                </div>
            </div>

            {{!-- {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }} --}}
            
            <button type="button" class="getActor">log</button>
        </div>
    </section>
</form>