<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <button type="button" class="getActor" style="width:auto;margin:0;background-color:#fff;border:1px solid #000;border-radius:5px;font-size:16px;position:absolute;left:5px;bottom:50px;">log</button>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="base">
            <span>Azioni</span>
        </a>
        <a class="item" data-tab="skills">
            <span>Abilità</span>
        </a>
        <a class="item" data-tab="description">
            <span>Descrizione</span>
        </a>
    </nav>

    <div class="btn-roll-group">
        <button type="button" class="btn-roll js_rollActorTest" data-tooltip="Effettua un Test">
            <div class="icon icon-test"></div>
        </button>
    </div>

    <section class="sheet-body">
        <div class="tab">
            <div class="header">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                <div class="header-body">
                    <div class="head">
                        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'FU.Sheet.Name'}}" class="name"/>

                        <div class="data-group">
                            <div class="form-group">
                                <label>Liv</label>
                                <input type="number" name="system.level.value" value="{{system.level.value}}"/>
                            </div>
                            <select name="system.species.value">
                                {{selectOptions species selected=system.species.value localize=true}}
                            </select>
                        </div>
                    </div>

                    <div class="desc">
                        <label>Tratti:</label>
                        <input type="text" name="system.traits" value="{{system.traits}}"/>
                    </div>

                    <div class="affinities">
                        {{#each system.affinity as |affinity affinityIndex|}}
                            <button 
                                type="button" 
                                class="js_setAffinity" 
                                data-affinity="{{affinityIndex}}" 
                                data-tooltip="{{localize (concat 'FU.DamageTypes.' affinityIndex)}}: {{#if (eq affinity '')}}{{localize 'FU.affinity.neutral'}}{{else}}{{localize (concat 'FU.affinity.' affinity)}}{{/if}}" {{#if (lookup @root.actor.overrides.system.affinity affinityIndex)}}disabled{{/if}}
                            >
                                <div class="icon icon-{{affinityIndex}} {{#if (eq affinity '')}}disabled{{/if}}"></div>
                                {{#unless (eq affinity '')}}
                                    <span>{{localize (concat 'FU.affinityAbbr.' affinity)}}</span>
                                {{/unless}}
                            </button>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="attributes-container">
                {{#each system.attributes as |attr attrIndex|}}
                    <div class="attr">
                        <label>{{localize (concat 'FU.attributesAbbr.' attrIndex)}}</label>
                        <select name="system.attributes.{{attrIndex}}.base" {{#if (lookup (lookup @root.actor.overrides.system.attributes attrIndex) 'base')}}disabled data-tooltip="Non puoi modificare la {{localize (concat 'FU.attributes.' attrIndex)}} <br> finché hai un effetto che la influenza"{{/if}}>
                            {{selectOptions @root.FU.attributesDice selected=attr.base localize=true}}
                        </select>
                        <label>
                            {{attr.current}}
                            {{#if (eq attr.current attr.base)}}
                                <i class="fa fa-fw fa-minus"></i>
                            {{else}}
                                {{#gt attr.current attr.base}}
                                    <i class="fa fa-fw fa-caret-up is-up"></i>
                                {{else}}
                                    <i class="fa fa-fw fa-caret-down is-down"></i>
                                {{/gt}}
                            {{/if}}
                        </label>
                    </div>
                {{/each}}

                {{#unless (eq system.resources.up.max 0)}}
                    <div class="attr js_useFUPoint">
                        <label>PU</label>
                        <input type="number" min="0" max="{{system.resources.up.max}}" name="system.resources.up.current" value="{{system.resources.up.current}}">
                        {{#unless (eq system.resources.up.max 0)}}
                            <label>/ {{system.resources.up.max}}</label>
                        {{/unless}}
                    </div>
                {{/unless}}
            </div>

            <div class="outer-container">
                <div class="container-left">
                    <div class="attributes-container">
                        <div class="attr hp" data-tooltip="Punti Vita: {{system.resources.hp.current}}<br>Crisi: {{system.resources.hp.crisis}}<br>PV Massimi: {{system.resources.hp.max}}">
                            <div class="progress-container">
                                <div class="progress-bar{{#sm_e system.resources.hp.current system.resources.hp.crisis}} is-crisis-alert{{/sm_e}}">
                                    <div class="bar" style="width:{{percentage system.resources.hp.current system.resources.hp.max}}%"></div>
                                </div>
                                <input type="text" class="autoselect" name="system.resources.hp.current" value="{{system.resources.hp.current}}">
                                <button type="button" class="crisis js_setAttrValue" data-attr="hp" data-value="{{system.resources.hp.crisis}}">
                                    {{system.resources.hp.crisis}}
                                </button>
                                <button type="button" class="max js_setAttrValue" data-attr="hp" data-value="{{system.resources.hp.max}}">{{system.resources.hp.max}}</button>
                            </div>
                        </div>

                        <div class="attr mp" data-tooltip="Punti Mente: {{system.resources.mp.current}}<br>PM Massimi: {{system.resources.mp.max}}">
                            <div class="progress-container">
                                <div class="progress-bar">
                                    <div class="bar" style="width:{{percentage system.resources.mp.current system.resources.mp.max}}%"></div>
                                </div>
                                <input type="text" class="autoselect" name="system.resources.mp.current" value="{{system.resources.mp.current}}">
                                <div class="crisis"></div>
                                <button type="button" class="max js_setAttrValue" data-attr="mp">{{system.resources.mp.max}}</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="attributes-container params">
                        {{#each system.params as |param paramIndex|}}
                            <div class="attr">
                                <label>
                                    {{localize (concat 'FU.' paramIndex)}}:
                                    {{#if param.fixed}}
                                        {{param.fixed}}
                                    {{else}}
                                        {{param.value}}
                                    {{/if}}
                                </label>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="container-right">
                    <div class="attr status">
                        {{#each system.immunity as |status statusIndex|}}
                            <div data-tooltip="{{localize (concat 'FU.Status.' statusIndex)}}">
                                <button type="button" class="js_setStatus{{#if status}} is-immune{{/if}}" data-status="{{statusIndex}}">
                                    <div class="icon icon-{{statusIndex}} active"></div>
                                </button>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            
            <div class="tab base" data-group="primary" data-tab="base">
                <nav class="tabs inner-tabs" data-group="secondary">
                    <a class="item" data-tab="base">
                        <span>Azioni base</span>
                    </a>
                    <a class="item" data-tab="actions">
                        <span>Altre azioni</span>
                    </a>
                    <a class="item" data-tab="rules">
                        <span>Regole speciali</span>
                    </a>
                    <a class="item" data-tab="effects">
                        <span>Effetti</span>
                    </a>
                    <a class="item" data-tab="settings" style="flex:0;">
                        <span><i class="fa fa-fw fa-sliders"></i></span>
                    </a>
                </nav>

                <div class="tab inner-tab" data-group="secondary" data-tab="base">
                    <div class="content-collapse open attack">
                        <div class="title">
                            Attacchi base
                            {{#if @root.editable}}
                                <button type="button" class="js_createItem" data-type="attack">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {{/if}}
                            {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button> --}}
                        </div>
                        <div class="collapse">
                            <ul class="list list-attacks">
                                {{#each weapons}}
                                    {{#unless (eq this.name 'Colpo Senz\'Armi')}}
                                        {{> 'systems/fabula/templates/actors/common/attack-list-item.hbs' item=this actor=../actor}}
                                    {{/unless}}
                                {{/each}}
                                {{#each attacks}}
                                    {{> 'systems/fabula/templates/actors/common/attack-list-item.hbs' item=this actor=../actor}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    <div class="content-collapse open spell">
                        <div class="title">
                            Incantesimi
                            {{#if @root.editable}}
                                <button type="button" class="js_createItem" data-type="spell">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {{/if}}
                            {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button> --}}
                        </div>
                        <div class="collapse">
                            <ul class="list list-spells">
                                {{#each spells}}
                                    {{> 'systems/fabula/templates/actors/common/spell-list-item.hbs' item=this actor=../system}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    {{#if system.equippable}}
                        <div class="content-collapse open equip">
                            <div class="title">
                                Equipaggiamento
                                {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                    <i class="fa fa-angle-down"></i>
                                </button> --}}
                            </div>
                            <div class="collapse">
                                <ul class="list list-equip">
                                    {{#each armors}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                                    {{/each}}
                                    {{#each shields}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                                    {{/each}}
                                    {{#each accessories}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=this}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/if}}
                </div>

                <div class="tab inner-tab" data-group="secondary" data-tab="actions">
                    <div class="content-collapse open other">
                        <div class="title">
                            Altre azioni
                            {{#if @root.editable}}
                                <button type="button" class="js_createItem" data-type="baseItem">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {{/if}}
                            {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button> --}}
                        </div>
                        <div class="collapse">
                            <ul class="list list-other-actions">
                                {{#each baseItems as |action indexAction|}}
                                    {{#if (not action.system.rule)}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=action}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab inner-tab" data-group="secondary" data-tab="rules">
                    <div class="content-collapse open rule">
                        <div class="title">
                            Regole speciali
                            {{#if @root.editable}}
                                <button type="button" class="js_createItem" data-type="baseItem" data-rule="true">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {{/if}}
                            {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button> --}}
                        </div>
                        <div class="collapse">
                            <ul class="list list-special-rules">
                                {{#each baseItems as |rule indexRule|}}
                                    {{#if rule.system.rule}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' actor=../actor item=rule}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    {{#if (arrayLengthGt system.species.rules 0)}}
                        {{#each system.species.rules}}
                            <div class="title">{{this.name}}</div>
                            <ul class="list">
                                <li>
                                    <div class="btn-container"></div>
                                    <div class="item-box">
                                        {{{this.description}}}
                                    </div>
                                </li>
                            </ul>
                        {{/each}}
                    {{/if}}
                </div>

                <div class="tab inner-tab" data-group="secondary" data-tab="effects">
                    {{#each effects as |category catIndex|}}
                        {{> 'systems/fabula/templates/common/active-effects.hbs' category=category element=../actor}}
                    {{/each}}
                </div>

                <div class="tab inner-tab" data-group="secondary" data-tab="settings">
                    <div class="title title-list">
                        <span>Tracciamento risorse</span>
                        {{#if @root.editable}}
                            <button type="button" class="js_addNewResource">
                                <i class="fa fa-plus"></i>
                            </button>
                        {{/if}}
                    </div>
                    <ul class="list">
                        {{#each system.genericResource as |resource resourceIndex|}}
                            <li>
                                <div class="btn-container">
                                    {{#if @root.editable}}
                                        <button type="button" class="btn-action-delete js_deleteResource" data-index="{{resourceIndex}}" data-tooltip="{{localize 'FU.actions.delete'}}">
                                            <i class="fa fa-trash m-0"></i>
                                        </button>
                                    {{/if}}
                                </div>
                                <div class="item-box">
                                    <div class="flexrow">
                                        <div class="title title-list">
                                            <input type="text" name="system.genericResource.{{resourceIndex}}.name" value="{{resource.name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="system.genericResource.{{resourceIndex}}.value">Quantità</label>
                                            <input type="number" name="system.genericResource.{{resourceIndex}}.value" id="system.genericResource.{{resourceIndex}}.value" value="{{resource.value}}" min="0">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>

                    <div class="title title-list">
                        <span>Immunità agli status</span>
                    </div>
                    <div class="flexrow">
                        {{#each system.immunity as |immunity immunityIndex|}}
                            <div class="form-group">
                                <input type="checkbox" name="system.immunity.{{immunityIndex}}" id="system.immunity.{{immunityIndex}}" {{checked immunity}}>
                                <label for="system.immunity.{{immunityIndex}}">
                                    {{localize (concat 'FU.Status.' immunityIndex)}}
                                </label>
                            </div>
                        {{/each}}
                    </div>

                    <div class="title title-list">
                        <span>Attributi bonus</span>
                    </div>
                    <div class="flexrow">
                        <div class="form-group">
                            <label for="system.resources.hp.bonus">Punti Vita</label>
                            <input type="number" name="system.resources.hp.bonus" id="system.resources.hp.bonus" value="{{system.resources.hp.bonus}}">
                        </div>
                        <div class="form-group">
                            <label for="system.resources.mp.bonus">Punti Mente</label>
                            <input type="number" name="system.resources.mp.bonus" id="system.resources.mp.bonus" value="{{system.resources.mp.bonus}}">
                        </div>
                        <div class="form-group">
                            <label for="system.resources.ip.bonus">Punti Inventario</label>
                            <input type="number" name="system.resources.ip.bonus" id="system.resources.ip.bonus" value="{{system.resources.ip.bonus}}">
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="form-group">
                            <label for="system.params.def.bonus">Difesa</label>
                            <input type="number" name="system.params.def.bonus" id="system.params.def.bonus" value="{{system.params.def.bonus}}">
                        </div>
                        <div class="form-group">
                            <label for="system.params.mdef.bonus">Difesa Magica</label>
                            <input type="number" name="system.params.mdef.bonus" id="system.params.mdef.bonus" value="{{system.params.mdef.bonus}}">
                        </div>
                        <div class="form-group">
                            <label for="system.params.init.bonus">Iniziativa</label>
                            <input type="number" name="system.params.init.bonus" id="system.params.init.bonus" value="{{system.params.init.bonus}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab skills" data-group="primary" data-tab="skills">
                <div class="flexrow">
                    <div class="form-group">
                        <label>Rango:</label>
                        <select name="system.rank.value">
                            {{selectOptions enemyRanks selected=system.rank.value localize=true}}
                        </select>
                        {{#unless (eq system.rank.value 'soldier')}}
                            <input type="number" name="system.rank.replacedSoldiers" value="{{system.rank.replacedSoldiers}}">
                        {{/unless}}
                    </div>

                    <div class="form-group">
                        <label>Cattivo:</label>
                        <select name="system.villain">
                            {{selectOptions villainTypes selected=system.villain localize=true}}
                        </select>
                    </div>
                </div>

                <div class="title">
                    Abilità
                    <span class="is-on-right">【{{system.skills.current}} / {{system.skills.max}}】</span>
                </div>
                {{#each items}}
                    {{#if (eq this.type 'classFeature')}}
                        <div class="feature-box">
                            <div class="feature-head">
                                {{#if @root.editable}}
                                    <button type="button" class="btn-action-delete js_deleteItem" data-itemid="{{this._id}}">
                                    <i class="fa fa-trash m-0"></i>
                                </button>
                                {{/if}}
                                
                                {{this.name}}

                                {{#if @root.editable}}
                                    <button type="button" class="ml-auto js_setFreeFeature {{#if this.system.isFree}}active{{/if}}" data-itemid="{{this._id}}">Gratuita</button>
                                {{/if}}

                                {{#if (not this.system.isUnlimited)}}
                                    <span>
                                        (<span class="font-yanone">LIMITATA</span>)
                                    </span>
                                {{else}}
                                    <span>
                                        (<span>l</span>{{this.system.level.current}})
                                    </span>
                                {{/if}}
                            </div>
                            <div class="feature-body">
                                {{{this.system.description}}}
                            </div>
                        </div>
                        {{#each this.flags.fabula.subItems}}
                            <div class="equip-box">
                                <div class="equip-head">
                                    <img src="{{this.img}}" title="{{this.name}}" />
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Arma</th>
                                                <th>Precisione</th>
                                                <th>Danno</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{localize (concat 'FU.weaponCategories.' this.system.type)}}</td>
                                                <td>
                                                    <strong>
                                                        【{{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.primary.value)}}
                                                        + 
                                                        {{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.secondary.value)}}】
                                                        {{#unless (eq this.system.precisionBonus 0)}}
                                                            {{#gt this.system.precisionBonus 0}}
                                                                +{{this.system.precisionBonus}}
                                                            {{else}}
                                                                {{this.system.precisionBonus}}
                                                            {{/gt}}
                                                        {{/unless}}
                                                    </strong>
                                                </td>
                                                <td>
                                                    <strong>
                                                        【TM
                                                        {{#gt_e this.system.damage.value 0}}
                                                            + {{this.system.damage.value}}】
                                                        {{else}}
                                                            - {{multiply this.system.damage.value -1}}】
                                                        {{/gt_e}}
                                                        {{localize (concat 'FU.DamageTypes.' this.system.damage.type.value)}}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="equip-body">
                                    <div class="desc-container">
                                        {{#if this.system.needTwoHands}}
                                            Due mani
                                        {{else}}
                                            Una mano
                                        {{/if}}
                                        <div class="divider-decoration"></div>
                                        {{localize (concat 'FU.WeaponRanges.' this.system.range)}}
                                    </div>
                                    <div class="desc-container">
                                        {{{this.system.description}}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                {{/each}}
            </div>

            <div class="tab desc" data-group="primary" data-tab="description">
                <div class="title">Descrizione</div>
                {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
            </div>
        </div>
    </section>
</form>