<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <div class="profile-container">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
            </h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="description"><span>{{localize 'FU.Sheet.DescriptionTab'}}</span></a>
        <a class="item" data-tab="class"><span>Classi</span></a>
        <a class="item" data-tab="equip"><span>Equipaggiamento</span></a>
    </nav>

    <section class="sheet-body">
        <div class="tab desc" data-group="primary" data-tab="description">
            <table>
                <tbody>
                    <tr>
                        <td style="text-align:left;vertical-align:top;width:33%;">
                            <span data-tooltip="Lorem ipsum">Livello:</span> {{system.level.value}} | Esperienza: {{system.resources.exp}}<br>
                            Punti Vita: {{system.resources.hp.current}} / {{system.resources.hp.max}} | Crisi: {{system.resources.hp.crisis}} <br>
                            Punti Mente: {{system.resources.mp.current}} / {{system.resources.mp.max}} <br>
                            Punti Inventario: {{system.resources.ip.current}} / {{system.resources.ip.max}} <br>
                            <ul>
                                <li>Destrezza (DES): D{{system.attributes.dex.value}}</li>
                                <li>Intuito (INT): D{{system.attributes.ins.value}}</li>
                                <li>Vigore (VIG): D{{system.attributes.mig.value}}</li>
                                <li>Volontà (VOL): D{{system.attributes.wlp.value}}</li>
                            </ul>
                            Punti Fabula: {{system.resources.fp}} <br>
                            Zenit: {{system.resources.zenit}}z <br>
                            <ul>
                                <li>Difesa: {{system.resources.params.def.bonus}}</li>
                                <li>Difesa magica: {{system.resources.params.mdef.bonus}}</li>
                                <li>Modificatore iniziativa: {{system.resources.params.init.bonus}}</li>
                            </ul>
                        </td>
                        <td style="text-align:left;vertical-align:top;width:33%;">
                            Genere: {{system.features.pronouns}} <br>
                            Identità: {{system.features.identity}} <br>
                            Tema: {{system.features.theme}} <br>
                            Origine: {{system.features.origin}} <br>
                            Legami: <br>
                            <ul>
                                {{#each system.bond}}
                                <li>
                                    {{this.name}} | {{this.bond1}} | {{this.bond2}} | {{this.bond3}}
                                </li>
                                {{/each}}
                            </ul>
                            Equipaggiamento: <br>
                            <ul>
                                <li>
                                    Armatura: <br>
                                    {{#each items as |subItem subItemIndex|}}
                                        {{#if (eq subItem._id ../system.equip.armor)}}
                                            {{subItem.name}}
                                        {{/if}}
                                    {{/each}}
                                    {{#if system.equip.armor}}
                                        <button type="button" class="js_removeEquipItem" data-id="{{system.equip.armor}}" data-type="system.equip.armor">
                                            Rimuovi
                                        </button>
                                    {{/if}}
                                </li>
                                <li>
                                    Mano primaria: <br>
                                    {{#each items as |subItem subItemIndex|}}
                                        {{#if (eq subItem._id ../system.equip.mainHand)}}
                                            {{subItem.name}}
                                        {{/if}}
                                    {{/each}}
                                    {{#if system.equip.mainHand}}
                                        <button type="button" class="js_removeEquipItem" data-id="{{system.equip.mainHand}}" data-type="system.equip.mainHand">
                                            Rimuovi
                                        </button>
                                    {{/if}}
                                </li>
                                {{#if (or (not (eq system.equip.mainHand system.equip.offHand)) (not system.equip.offHand))}}
                                <li>
                                    Mano secondaria: <br>
                                    <span>
                                    {{#each items as |subItem subItemIndex|}}
                                        {{#if (eq subItem._id ../system.equip.offHand)}}
                                            {{subItem.name}}
                                        {{/if}}
                                    {{/each}}
                                    {{#if system.equip.offHand}}
                                        <button type="button" class="js_removeEquipItem" data-id="{{system.equip.offHand}}" data-type="system.equip.offHand">
                                            Rimuovi
                                        </button>
                                    {{/if}}
                                    </span>
                                </li>
                                {{/if}}
                                <li>
                                    Accessio: <br>
                                    {{#each items as |subItem subItemIndex|}}
                                        {{#if (eq subItem._id ../system.equip.accessory)}}
                                            {{subItem.name}}
                                        {{/if}}
                                    {{/each}}
                                    {{#if system.equip.accessory}}
                                        <button type="button" class="js_removeEquipItem" data-id="{{system.equip.accessory}}" data-type="system.equip.accessory">
                                            Rimuovi
                                        </button>
                                    {{/if}}
                                </li>
                                <li>
                                    Arcanum: <br>
                                    {{#each items as |subItem subItemIndex|}}
                                        {{#if (eq subItem._id ../system.equip.arcanum)}}
                                            {{subItem.name}}
                                        {{/if}}
                                    {{/each}}
                                    {{#if system.equip.arcanum}}
                                        <button type="button" class="js_removeEquipItem" data-id="{{system.equip.arcanum}}" data-type="system.equip.arcanum">
                                            Rimuovi
                                        </button>
                                    {{/if}}
                                </li>
                            </ul>
                        </td>
                        <td style="text-align:left;vertical-align:top;width:33%;">
                            Affinità: <br>
                            <ul>
                                <li>Fisico: {{system.affinity.physical}}</li>
                                <li>Aria: {{system.affinity.air}}</li>
                                <li>Lampo: {{system.affinity.bolt}}</li>
                                <li>Oscurità: {{system.affinity.dark}}</li>
                                <li>Terra: {{system.affinity.earth}}</li>
                                <li>Fuoco: {{system.affinity.fire}}</li>
                                <li>Ghiaccio: {{system.affinity.ice}}</li>
                                <li>Luce: {{system.affinity.light}}</li>
                                <li>Veleno: {{system.affinity.poison}}</li>
                            </ul>
                            Status: <br>
                            <ul>
                                {{#if system.status.slow.active}}
                                    <li>Rallentato</li>
                                {{/if}}
                                {{#if system.status.dazed.active}}
                                    <li>Confuso</li>
                                {{/if}}
                                {{#if system.status.weak.active}}
                                    <li>Indebolito</li>
                                {{/if}}
                                {{#if system.status.shaken.active}}
                                    <li>Scosso</li>
                                {{/if}}
                                {{#if system.status.enraged.active}}
                                    <li>Furente</li>
                                {{/if}}
                                {{#if system.status.poisoned.active}}
                                    <li>Avvelenato</li>
                                {{/if}}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul>
                {{#each items as |subItem subItemIndex|}}
                    {{#allTrue (eq this.type "shield") (not (eq this._id ../system.equip.offHand))}}
                        {{!-- Item: Shields --}}
                        <li style="display:flex;flex-wrap:wrap;">
                            <span style="width:50%;">
                                {{subItem.name}} {{#if subItem.system.isMartial.value}}<span>l</span>{{/if}}
                                <br>
                                Difesa: + {{subItem.system.defenseBonus}} | D. Magica: + {{subItem.system.magicDefenseBonus}}
                            </span>
                            <div style="flex-grow:1;width:50%;">
                                <button type="button" class="js_equipItem" data-type="{{subItem.type}}" data-id="{{subItem._id}}">Equipaggia</button>
                                <button type="button" class="js_removeItem" data-id="{{subItem._id}}">Rimuovi</button>
                            </div>
                            <div class="width:100%">
                                {{{subItem.system.description}}}
                            </div>
                        </li>
                        <hr>
                    {{/allTrue}}
                    
                    {{#allTrue (eq this.type "armor") (not (eq this._id ../system.equip.armor))}}
                        {{!-- Item: Armors --}}
                        <li style="display:flex;flex-wrap:wrap;">
                            <span style="width:50%;">
                                {{subItem.name}} {{#if subItem.system.isMartial.value}}<span>l</span>{{/if}}
                                <br>
                                Difesa:
                                {{#if subItem.system.defBonus.def.isFixed}}
                                    {{subItem.system.defBonus.def.value}}
                                {{else}}
                                    Taglia DES
                                    {{#gt subItem.system.defBonus.def.value 0}}
                                        + {{subItem.system.defBonus.def.value}}
                                    {{/gt}}
                                {{/if}}
                                <br>
                                D. Magica:
                                {{#if subItem.system.defBonus.mdef.isFixed}}
                                    {{subItem.system.defBonus.mdef.value}}
                                {{else}}
                                    Taglia INT
                                    {{#gt subItem.system.defBonus.mdef.value 0}}
                                        + {{subItem.system.defBonus.mdef.value}}
                                    {{/gt}}
                                {{/if}}
                                {{#unless (eq system.initiativeMalus 0)}}
                                    <br>
                                    iniziativa:
                                    {{#gt system.initiativeMalus 0}}
                                        +{{system.initiativeMalus}}
                                    {{else}}
                                        {{system.initiativeMalus}}
                                    {{/gt}}
                                {{/unless}}
                            </span>
                            <div style="flex-grow:1;width:50%;">
                                <button type="button" class="js_equipItem" data-type="{{subItem.type}}" data-id="{{subItem._id}}">Equipaggia</button>
                                <button type="button" class="js_removeItem" data-id="{{subItem._id}}">Rimuovi</button>
                            </div>
                            <div class="width:100%">
                                {{{subItem.system.description}}}
                            </div>
                        </li>
                        <hr>
                    {{/allTrue}}

                    {{#allTrue (eq this.type "accessory") (not (eq this._id ../system.equip.accessory))}}
                        {{!-- Item: Accessories --}}
                        <li style="display:flex;flex-wrap:wrap;">
                            <span style="width:50%;">
                                {{subItem.name}}
                                <br>
                            </span>
                            <div style="flex-grow:1;width:50%;">
                                <button type="button" class="js_equipItem" data-type="{{subItem.type}}" data-id="{{subItem._id}}">Equipaggia</button>
                                <button type="button" class="js_removeItem" data-id="{{subItem._id}}">Rimuovi</button>
                            </div>
                            <div class="width:100%">
                                {{{subItem.system.description}}}
                            </div>
                        </li>
                        <hr>
                    {{/allTrue}}

                    {{#allTrue (eq this.type "weapon") (not (eq this._id ../system.equip.mainHand)) (not (eq this._id ../system.equip.offHand))}}
                        {{!-- Item: Accessories --}}
                        <li style="display:flex;flex-wrap:wrap;">
                            <span style="width:50%;">
                                {{subItem.name}}
                                <br>
                                <button type="button" class="roll" data-roll="d{{getAttributeValue ../system.attributes subItem.system.precisionAttributes.primary.value}}+d{{getAttributeValue ../system.attributes subItem.system.precisionAttributes.secondary.value}}{{#unless (eq subItem.system.precisionBonus 0)}}{{#gt subItem.system.precisionBonus 0}}+{{subItem.system.precisionBonus}}{{else}}{{subItem.system.precisionBonus}}{{/gt}}{{/unless}}">
                                    【{{localize (concat 'FU.attributesAbbr.' subItem.system.precisionAttributes.primary.value)}}
                                    + 
                                    {{localize (concat 'FU.attributesAbbr.' subItem.system.precisionAttributes.secondary.value)}}】
                                    {{#unless (eq subItem.system.precisionBonus 0)}}
                                        {{#gt subItem.system.precisionBonus 0}}
                                            +{{subItem.system.precisionBonus}}
                                        {{else}}
                                            {{subItem.system.precisionBonus}}
                                        {{/gt}}
                                    {{/unless}}
                                </button>
                                <br>
                                <strong>
                                    【TM
                                    {{#gt_e subItem.system.damage.value 0}}
                                        + {{subItem.system.damage.value}}】
                                    {{else}}
                                        - {{multiply subItem.system.damage.value -1}}】
                                    {{/gt_e}}
                                    {{localize (concat 'FU.DamageTypes.' subItem.system.damage.type.value)}}
                                </strong>
                            </span>
                            <div style="flex-grow:1;width:50%;">
                                <button type="button" class="js_equipItem" data-type="{{subItem.type}}" data-id="{{subItem._id}}">Equipaggia</button>
                                <button type="button" class="js_removeItem" data-id="{{subItem._id}}">Rimuovi</button>
                            </div>
                            <div class="width:100%">
                                {{#if subItem.system.needTwoHands}}
                                    Due mani
                                {{else}}
                                    Una mano
                                {{/if}}
                                <span class="diamond-char">◆</span>
                                {{localize (concat 'FU.WeaponRanges.' subItem.system.range)}}
                                {{{subItem.system.description}}}
                            </div>
                        </li>
                        <hr>
                    {{/allTrue}}
                {{/each}}
            </ul>
        </div>
        <div class="tab desc" data-group="primary" data-tab="class">
            {{#each flags.fabula.classes}}
                <strong>{{name}} ({{system.level.value}})</strong>
                <ul>
                    {{#each ../flags.fabula.classFeatures}}
                        {{#if (eq system.origin ../_id)}}
                        <li>
                            <strong>{{name}} ( Lv. {{system.level.current}} )</strong>
                            <br>
                            {{{system.description}}}
                        </li>
                        {{/if}}
                    {{/each}}
                </ul>
                <hr>
            {{/each}}
        </div>
        <div class="tab desc" data-group="primary" data-tab="equip">
            <ul>
                {{#each items as |subItem subItemIndex|}}
                    {{#unless (eq this.type "class")}}
                        <li>
                            {{#if subItem.system.isOffensive.value}}
                                <button type="button" class="js_rollSpellTest" data-roll="d{{getAttributeValue ../system.attributes subItem.system.attributes.primary.value}}+d{{getAttributeValue ../system.attributes subItem.system.attributes.secondary.value}}" data-id="{{subItem._id}}">
                                    Test Magia: <strong>【{{localize (concat 'FU.attributesAbbr.' subItem.system.attributes.primary.value)}} + {{localize (concat 'FU.attributesAbbr.' subItem.system.attributes.secondary.value)}}】</strong>
                                </button>
                            {{/if}}
                            <button type="button" class="js_showInChat" data-id="{{subItem._id}}" data-type="{{subItem.type}}">
                                Chat
                            </button>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>PM</th>
                                        <th>Bersaglio</th>
                                        <th>Durata</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{subItem.name}}
                                            {{#if subItem.system.isOffensive.value}}
                                                <div class="icon icon-offensive"></div>
                                            {{/if}}
                                        </td>
                                        <td>
                                            {{#if subItem.system.MPCost.upTo}}
                                                Fino a
                                            {{/if}}
                                            {{subItem.system.MPCost.value}}
                                            {{#gt subItem.system.target.number 1}}
                                                x B
                                            {{/gt}}
                                        </td>
                                        <td>
                                            {{subItem.system.target.value}}
                                        </td>
                                        <td>
                                            {{subItem.system.duration.value}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {{{subItem.system.description}}}
                            {{#if subItem.system.opportunity.value}}
                                <strong>Opportunità:</strong>
                                {{{subItem.system.opportunityEffect}}}
                            {{/if}}
                            <hr>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <button type="button" class="roll" data-roll="d{{system.attributes.dex.value}}+@level.value">
            roll dex: D{{system.attributes.dex.value}} + Level: {{system.level.value}}
        </button>

        <button type="button" class="getActor">log</button>
        <button type="button" class="addClass">Classe</button>
    </section>
</form>