<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    <button type="button" class="getActor" style="width:auto;margin:0;background-color:#fff;border:1px solid #000;border-radius:5px;font-size:16px;position:absolute;left:5px;bottom:50px;">log</button>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="base">
            <span>Azioni</span>
        </a>
        <a class="item" data-tab="skills">
            <span>Abilità</span>
        </a>
        <a class="item" data-tab="description">
            <span>Descrizione</span>
        </a>
    </nav>

    <div class="btn-roll-group">
        <button type="button" class="js_rollActorTest" data-tooltip="Effettua un Test">
            <div class="icon icon-test"></div>
        </button>
        {{!-- <button type="button" class="init js_rollInitiative" data-tooltip="Tira per l'Iniziativa">
            <div class="icon icon-initiative"></div>
        </button> --}}
    </div>

    <section class="sheet-body">
        <div class="tab">
            <div class="header">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="{{#sm_e system.resources.hp.current system.resources.hp.crisis}}is-crisis{{/sm_e}}" />
                <div class="header-body">
                    <div class="head">
                        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'FU.Sheet.Name'}}" class="name"/>

                        <div class="data-group">
                            <div class="form-group">
                                <label>Liv</label>
                                <input type="number" name="system.level.value" value="{{system.level.value}}"/>
                            </div>
                            <select name="system.species.value">
                                {{selectOptions species selected=system.species.value localize=true}}
                            </select>
                        </div>
                    </div>

                    <div class="desc">
                        <label>Tratti:</label>
                        <input type="text" name="system.traits" value="{{system.traits}}"/>
                    </div>

                    <div class="affinities">
                        <button type="button" class="js_setAffinity" data-affinity="physical" data-tooltip="Fisico: {{#if system.affinity.physical}}{{localize (concat 'FU.affinity.' system.affinity.physical)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-physical {{#unless system.affinity.physical}}disabled{{/unless}}"></div>
                            {{#if system.affinity.physical}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.physical)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_setAffinity" data-affinity="air" data-tooltip="Aria: {{#if system.affinity.air}}{{localize (concat 'FU.affinity.' system.affinity.air)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-air {{#unless system.affinity.air}}disabled{{/unless}}"></div>
                            {{#if system.affinity.air}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.air)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_setAffinity" data-affinity="bolt" data-tooltip="Fulmine: {{#if system.affinity.bolt}}{{localize (concat 'FU.affinity.' system.affinity.bolt)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-bolt {{#unless system.affinity.bolt}}disabled{{/unless}}"></div>
                            {{#if system.affinity.bolt}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.bolt)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_setAffinity" data-affinity="dark" data-tooltip="Ombra: {{#if system.affinity.dark}}{{localize (concat 'FU.affinity.' system.affinity.dark)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-dark {{#unless system.affinity.dark}}disabled{{/unless}}"></div>
                            {{#if system.affinity.dark}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.dark)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_setAffinity" data-affinity="earth" data-tooltip="Terra: {{#if system.affinity.earth}}{{localize (concat 'FU.affinity.' system.affinity.earth)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-earth {{#unless system.affinity.earth}}disabled{{/unless}}"></div>
                            {{#if system.affinity.earth}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.earth)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_setAffinity" data-affinity="fire" data-tooltip="Fuoco: {{#if system.affinity.fire}}{{localize (concat 'FU.affinity.' system.affinity.fire)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-fire {{#unless system.affinity.fire}}disabled{{/unless}}"></div>
                            {{#if system.affinity.fire}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.fire)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_setAffinity" data-affinity="ice" data-tooltip="Ghiaccio: {{#if system.affinity.ice}}{{localize (concat 'FU.affinity.' system.affinity.ice)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-ice {{#unless system.affinity.ice}}disabled{{/unless}}"></div>
                            {{#if system.affinity.ice}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.ice)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_setAffinity" data-affinity="light" data-tooltip="Luce: {{#if system.affinity.light}}{{localize (concat 'FU.affinity.' system.affinity.light)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-light {{#unless system.affinity.light}}disabled{{/unless}}"></div>
                            {{#if system.affinity.light}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.light)}}</span>
                            {{/if}}
                        </button>
                        <button type="button" class="js_setAffinity" data-affinity="poison" data-tooltip="Veleno: {{#if system.affinity.poison}}{{localize (concat 'FU.affinity.' system.affinity.poison)}}{{else}}Neutro{{/if}}">
                            <div class="icon icon-poison {{#unless system.affinity.poison}}disabled{{/unless}}"></div>
                            {{#if system.affinity.poison}}
                                <span>{{localize (concat 'FU.affinityAbbr.' system.affinity.poison)}}</span>
                            {{/if}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="attributes-container">
                <div class="attr">
                    <label>DES</label>
                    <select name="system.attributes.dex.value" {{#if (lookup (lookup @root.actor.overrides.system.attributes 'dex') 'value')}}disabled data-tooltip="Non puoi modificare la Destrezza <br> finché hai un effetto che la influenza"{{/if}}>
                        <option value="6" {{#if (eq system.attributes.dex.value 6)}}selected{{/if}}>d6</option>
                        <option value="8" {{#if (eq system.attributes.dex.value 8)}}selected{{/if}}>d8</option>
                        <option value="10" {{#if (eq system.attributes.dex.value 10)}}selected{{/if}}>d10</option>
                        <option value="12" {{#if (eq system.attributes.dex.value 12)}}selected{{/if}}>d12</option>
                    </select>
                </div>
                <div class="attr">
                    <label>INT</label>
                    <select name="system.attributes.ins.value" {{#if (lookup (lookup @root.actor.overrides.system.attributes 'ins') 'value')}}disabled data-tooltip="Non puoi modificare l'Intuito <br> finché hai un effetto che la influenza"{{/if}}>
                        <option value="6" {{#if (eq system.attributes.ins.value 6)}}selected{{/if}}>d6</option>
                        <option value="8" {{#if (eq system.attributes.ins.value 8)}}selected{{/if}}>d8</option>
                        <option value="10" {{#if (eq system.attributes.ins.value 10)}}selected{{/if}}>d10</option>
                        <option value="12" {{#if (eq system.attributes.ins.value 12)}}selected{{/if}}>d12</option>
                    </select>
                </div>
                <div class="attr">
                    <label>VIG</label>
                    <select name="system.attributes.mig.value" {{#if (lookup (lookup @root.actor.overrides.system.attributes 'mig') 'value')}}disabled data-tooltip="Non puoi modificare il Vigore <br> finché hai un effetto che la influenza"{{/if}}>
                        <option value="6" {{#if (eq system.attributes.mig.value 6)}}selected{{/if}}>d6</option>
                        <option value="8" {{#if (eq system.attributes.mig.value 8)}}selected{{/if}}>d8</option>
                        <option value="10" {{#if (eq system.attributes.mig.value 10)}}selected{{/if}}>d10</option>
                        <option value="12" {{#if (eq system.attributes.mig.value 12)}}selected{{/if}}>d12</option>
                    </select>
                </div>
                <div class="attr">
                    <label>VOL</label>
                    <select name="system.attributes.wlp.value" {{#if (lookup (lookup @root.actor.overrides.system.attributes 'wlp') 'value')}}disabled data-tooltip="Non puoi modificare la Volontà <br> finché hai un effetto che la influenza"{{/if}}>
                        <option value="6" {{#if (eq system.attributes.wlp.value 6)}}selected{{/if}}>d6</option>
                        <option value="8" {{#if (eq system.attributes.wlp.value 8)}}selected{{/if}}>d8</option>
                        <option value="10" {{#if (eq system.attributes.wlp.value 10)}}selected{{/if}}>d10</option>
                        <option value="12" {{#if (eq system.attributes.wlp.value 12)}}selected{{/if}}>d12</option>
                    </select>
                </div>

                {{#unless (eq system.resources.up.max 0)}}
                    <div class="attr">
                        <label>PU</label>
                        <input type="number" min="0" max="{{system.resources.up.max}}" name="system.resources.up.current" value="{{system.resources.up.current}}">
                        {{#unless (eq system.resources.up.max 0)}}
                            <label>/ {{system.resources.up.max}}</label>
                        {{/unless}}
                    </div>
                {{/unless}}

                {{!-- <div class="attr hp">
                    <label>PV</label>
                    <div class="info">
                        {{system.resources.hp.max}}
                        <span>◆</span>
                        {{system.resources.hp.crisis}}
                    </div>
                </div> --}}

                {{!-- <div class="attr mp">
                    <label>PM</label>
                    <div class="info">
                        {{system.resources.mp.max}}
                        <span>◆</span>
                        {{system.resources.mp.crisis}}
                    </div>
                </div> --}}
            </div>

            <div class="outer-container">
                <div class="container-left">
                    <div class="attributes-container">
                        <div class="attr hp" data-tooltip="Punti Vita: {{system.resources.hp.current}}<br>Crisi: {{system.resources.hp.crisis}}<br>PV Massimi: {{system.resources.hp.max}}">
                            <div class="progress-container">
                                <div class="pregress-bar">
                                    <div class="bar" style="width:{{percentage system.resources.hp.current system.resources.hp.max}}%"></div>
                                </div>
                                <input type="number" min="0" name="system.resources.hp.current" value="{{system.resources.hp.current}}">
                                <button type="button" class="crisis js_setAttrValue" data-attr="hp" data-value="{{system.resources.hp.crisis}}">
                                    {{system.resources.hp.crisis}}
                                </button>
                                <button type="button" class="max js_setAttrValue" data-attr="hp" data-value="{{system.resources.hp.max}}">{{system.resources.hp.max}}</button>
                            </div>
                        </div>

                        <div class="attr mp" data-tooltip="Punti Menti: {{system.resources.mp.current}}<br>PM Massimi: {{system.resources.mp.max}}">
                            <div class="progress-container">
                                <div class="pregress-bar">
                                    <div class="bar" style="width:{{percentage system.resources.mp.current system.resources.mp.max}}%"></div>
                                </div>
                                <input type="number" min="0" name="system.resources.mp.current" value="{{system.resources.mp.current}}">
                                <div class="crisis"></div>
                                <button type="button" class="max js_setAttrValue" data-attr="mp">{{system.resources.mp.max}}</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="attributes-container params">
                        <div class="attr">
                            <label>
                                Iniziativa: {{system.resources.params.init.current}}
                            </label>
                        </div>

                        <div class="attr">
                            <label>
                                Difesa: {{system.resources.params.def.current}}
                            </label>
                        </div>

                        <div class="attr">
                            <label>
                                Difesa Magica: {{system.resources.params.mdef.current}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container-right">
                    <div class="attr status">
                        <button type="button" class="js_setStatus" data-status="slow" data-tooltip="{{localize 'FU.Status.slow'}}">
                            <div class="icon icon-slow {{#unless system.status.slow.active}}disabled{{/unless}}"></div>
                        </button>
                        <button type="button" class="js_setStatus" data-status="dazed" data-tooltip="{{localize 'FU.Status.dazed'}}">
                            <div class="icon icon-dazed {{#unless system.status.dazed.active}}disabled{{/unless}}"></div>
                        </button>
                        <button type="button" class="js_setStatus" data-status="weak" data-tooltip="{{localize 'FU.Status.weak'}}">
                            <div class="icon icon-weak {{#unless system.status.weak.active}}disabled{{/unless}}"></div>
                        </button>
                        <button type="button" class="js_setStatus" data-status="shaken" data-tooltip="{{localize 'FU.Status.shaken'}}">
                            <div class="icon icon-shaken {{#unless system.status.shaken.active}}disabled{{/unless}}"></div>
                        </button>

                        <button type="button" class="js_setStatus" data-status="enraged" data-tooltip="{{localize 'FU.Status.enraged'}}">
                            <div class="icon icon-enraged {{#unless system.status.enraged.active}}disabled{{/unless}}"></div>
                        </button>
                        <button type="button" class="js_setStatus" data-status="poisoned" data-tooltip="{{localize 'FU.Status.poisoned'}}">
                            <div class="icon icon-poisoned {{#unless system.status.poisoned.active}}disabled{{/unless}}"></div>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="tab base" data-group="primary" data-tab="base">
                <nav class="tabs inner-tabs" data-group="secondary">
                    <a class="item" data-tab="base">
                        <span>Azioni base</span>
                    </a>
                    <a class="item" data-tab="actions">
                        <span>Altre azioni</span>
                    </a>
                    <a class="item" data-tab="rules">
                        <span>Regole speciali</span>
                    </a>
                    <a class="item" data-tab="effects">
                        <span>Effetti</span>
                    </a>
                </nav>

                <div class="tab inner-tab" data-group="secondary" data-tab="base">
                    <div class="content-collapse open attack">
                        <div class="title">
                            Attacchi base
                            {{#if @root.editable}}
                                <button type="button" class="js_createItem" data-type="attack">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {{/if}}
                            {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button> --}}
                        </div>
                        <div class="collapse">
                            <ul class="list list-attacks">
                                {{#each weapons}}
                                    {{> 'systems/fabula/templates/actors/common/attack-list-item.hbs' item=this actor=../system}}
                                {{/each}}
                                {{#each attacks}}
                                    {{> 'systems/fabula/templates/actors/common/attack-list-item.hbs' item=this actor=../system}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    <div class="content-collapse open spell">
                        <div class="title">
                            Incantesimi
                            {{#if @root.editable}}
                                <button type="button" class="js_createItem" data-type="spell">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {{/if}}
                            {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button> --}}
                        </div>
                        <div class="collapse">
                            <ul class="list list-spells">
                                {{#each spells}}
                                    {{> 'systems/fabula/templates/actors/common/spell-list-item.hbs' item=this actor=../system}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    {{#if (or (arrayLengthGt weapons 0) (arrayLengthGt armors 0) (arrayLengthGt shields 0) (arrayLengthGt accessories 0))}}
                        <div class="content-collapse open equip">
                            <div class="title">
                                Equipaggiamento
                                {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                    <i class="fa fa-angle-down"></i>
                                </button> --}}
                            </div>
                            <div class="collapse">
                                <ul class="list list-equip">
                                    {{#each weapons}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' item=this}}
                                    {{/each}}
                                    {{#each armors}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' item=this}}
                                    {{/each}}
                                    {{#each shields}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' item=this}}
                                    {{/each}}
                                    {{#each accessories}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' item=this}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/if}}
                </div>

                <div class="tab inner-tab" data-group="secondary" data-tab="actions">
                    <div class="content-collapse open other">
                        <div class="title">
                            Altre azioni
                            {{#if @root.editable}}
                                <button type="button" class="js_createItem" data-type="baseItem">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {{/if}}
                            {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button> --}}
                        </div>
                        <div class="collapse">
                            <ul class="list list-other-actions">
                                {{#each baseItems as |action indexAction|}}
                                    {{#if (not action.system.rule)}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' item=action}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab inner-tab" data-group="secondary" data-tab="rules">
                    <div class="content-collapse open rule">
                        <div class="title">
                            Regole speciali
                            {{#if @root.editable}}
                                <button type="button" class="js_createItem" data-type="baseItem" data-rule="true">
                                    <i class="fa fa-plus"></i>
                                </button>
                            {{/if}}
                            {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button> --}}
                        </div>
                        <div class="collapse">
                            <ul class="list list-special-rules">
                                {{#each baseItems as |rule indexRule|}}
                                    {{#if rule.system.rule}}
                                        {{> 'systems/fabula/templates/actors/common/base-list-item.hbs' item=rule}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    {{#if (arrayLengthGt system.species.rules 0)}}
                        {{#each system.species.rules}}
                            <div class="title">{{this.name}}</div>
                            <ul class="list">
                                <li>
                                    <div class="btn-container"></div>
                                    <div class="item-box">
                                        {{{this.description}}}
                                    </div>
                                </li>
                            </ul>
                        {{/each}}
                    {{/if}}
                </div>

                <div class="tab inner-tab" data-group="secondary" data-tab="effects">
                    {{#each effects as |category catIndex|}}
                        <div class="content-collapse open effects" data-effect-type="{{category.type}}">
                            <div class="title">
                                {{category.label}}
                                {{#if @root.editable}}
                                    <button type="button" class="js_manageActiveEffect" data-action="create">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                {{/if}}
                                {{!-- <button type="button" class="js_toggleCollapse" aria-expanded="false">
                                    <i class="fa fa-angle-down"></i>
                                </button> --}}
                            </div>
                            <div class="collapse">
                                <ul class="list list-effects">
                                    {{#each category.effects as |effect|}}
                                        <li>
                                            <div class="btn-container">
                                                {{#if @root.editable}}
                                                    <button type="button" class="js_manageActiveEffect" data-effectid="{{effect.id}}" data-action="toggle" data-tooltip="Abilita / Disattiva">
                                                        {{#if effect.disabled}}
                                                            <i class="far fa-circle-check m-0"></i>
                                                        {{else}}
                                                            <i class="fa fa-circle-check m-0"></i>
                                                        {{/if}}
                                                    </button>

                                                    <button type="button" class="js_manageActiveEffect" data-effectid="{{effect.id}}" data-action="remove" data-tooltip="Elimina">
                                                        <i class="fa fa-trash m-0"></i>
                                                    </button>

                                                    <button type="button" class="js_manageActiveEffect" data-effectid="{{effect.id}}" data-action="open" data-tooltip="Modifica">
                                                        <i class="fa fa-pencil m-0"></i>
                                                    </button>
                                                {{/if}}
                                            </div>
                                            <div class="item-box">
                                                <label>{{effect.name}}</label>
                                                <p>
                                                    {{effect.sourceName}}
			                                        <small>◆</small>
                                                    {{effect.duration.name}}
                                                </p>
                                                
                                                {{#if effect.enrichedDescription}}
                                                    <div class="description">
                                                        {{{effect.enrichedDescription}}}
                                                    </div>
                                                {{/if}}
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="tab skills" data-group="primary" data-tab="skills">
                <div class="flexrow">
                    <div class="form-group">
                        <label>Rango:</label>
                        <select name="system.rank.value">
                            {{selectOptions enemyRanks selected=system.rank.value localize=true}}
                        </select>
                        {{#unless (eq system.rank.value 'soldier')}}
                            <input type="number" name="system.rank.replacedSoldiers" value="{{system.rank.replacedSoldiers}}">
                        {{/unless}}
                    </div>

                    <div class="form-group">
                        <label>Cattivo:</label>
                        <select name="system.villain">
                            {{selectOptions villainTypes selected=system.villain localize=true}}
                        </select>
                    </div>
                </div>

                <div class="title">
                    Abilità
                    <span class="is-on-right">【{{system.skills.current}} / {{system.skills.max}}】</span>
                </div>
                {{#each flags.fabula.classFeatures}}
                    <div class="feature-box">
                        <div class="feature-head">
                            {{#if @root.editable}}
                                <button type="button" class="removeFeature" data-id="{{this._id}}">Rimuovi</button>
                            {{/if}}
                            
                            {{this.name}}

                            {{#if @root.editable}}
                                <button type="button" class="ml-auto js_setFreeFeature {{#if this.system.isFree}}active{{/if}}" data-id="{{this._id}}">Gratuita</button>
                            {{/if}}
                            
                            {{#gt this.system.level.max 1}}
                                <span>
                                    (<span>l</span>{{this.system.level.current}})
                                </span>
                            {{/gt}}

                            {{#if this.system.isLimited}}
                                <span>
                                    (<span class="font-yanone">LIMITATA</span>)
                                </span>
                            {{/if}}
                        </div>
                        <div class="feature-body">
                            {{{this.system.description}}}
                        </div>
                    </div>
                    {{#each this.flags.fabula.subItems}}
                        <div class="equip-box">
                            <div class="equip-head">
                                <img src="{{this.img}}" title="{{this.name}}" />
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Arma</th>
                                            <th>Precisione</th>
                                            <th>Danno</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{localize (concat 'FU.weaponCategories.' this.system.type)}}</td>
                                            <td>
                                                <strong>
                                                    【{{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.primary.value)}}
                                                    + 
                                                    {{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.secondary.value)}}】
                                                    {{#unless (eq this.system.precisionBonus 0)}}
                                                        {{#gt this.system.precisionBonus 0}}
                                                            +{{this.system.precisionBonus}}
                                                        {{else}}
                                                            {{this.system.precisionBonus}}
                                                        {{/gt}}
                                                    {{/unless}}
                                                </strong>
                                            </td>
                                            <td>
                                                <strong>
                                                    【TM
                                                    {{#gt_e this.system.damage.value 0}}
                                                        + {{this.system.damage.value}}】
                                                    {{else}}
                                                        - {{multiply this.system.damage.value -1}}】
                                                    {{/gt_e}}
                                                    {{localize (concat 'FU.DamageTypes.' this.system.damage.type.value)}}
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="equip-body">
                                <div class="desc-container">
                                    {{#if this.system.needTwoHands}}
                                        Due mani
                                    {{else}}
                                        Una mano
                                    {{/if}}
                                    <span class="diamond-char">◆</span>
                                    {{localize (concat 'FU.WeaponRanges.' this.system.range)}}
                                </div>
                                <div class="desc-container">
                                    {{{this.system.description}}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            </div>

            <div class="tab desc" data-group="primary" data-tab="description">
                <div class="title">Descrizione</div>
                {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
            </div>
        </div>
    </section>
</form>