<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">{{localize 'FU.Item.sheetMainTab'}}</a>
        <a class="item" data-tab="edit">{{localize 'FU.Item.sheetEditTab'}}</a>
    </nav>
    
    <section class="sheet-body">
        {{!-- Tab Main --}}
        <section class="tab summary active" data-group="primary" data-tab="main">
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">{{item.name}}</h1>
                    {{#if system.offensive}}
                    <div>OFFENSIVO</div>
                    {{/if}}
                    <div class="spell-type">{{system.type}}</div>
                    <div class="description">{{system.description}}</div>
                </div>
            </header>
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <th>{{localize 'FU.mindPointAbbr'}}</th>
                            <th>{{localize 'FU.target'}}</th>
                            <th>{{localize 'FU.duration'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input">
                                    {{#if system.multipleTargets}}
                                    {{system.MPCost}} x {{localize 'FU.targetAbbr'}}
                                    {{else}}
                                    {{system.MPCost}}
                                    {{/if}}
                                </div>
                            </td>
                            <td>
                                <div class="input">{{system.target}}</div>
                            </td>
                            <td>
                                <div class="input">{{system.duration}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="spell-effect">{{system.effect}}</div>
                {{#if system.opportunity}}
                <div class="spell-effect">
                    <strong>{{localize 'FU.spellOpportunity'}}:</strong> {{system.opportunityEffect}}
                </div>
                {{/if}}
            </div>
        </section>

        {{!-- Tab Edit --}}
        <section class="tab summary" data-group="primary" data-tab="edit">
            <header class="sheet-header">
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Item.BaseName'}}"/>
                    </h1>
                    <textarea name="system.description" rows="3" value="{{system.description}}" placeholder="{{localize 'FU.Item.BaseDescription'}}">
                        {{system.description}}
                    </textarea>
                </div>
            </header>
            <div class="content">
                <div class="form-group">
                    <label>{{localize 'FU.spellOffensive'}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="system.offensive" {{checked system.offensive}}>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize 'FU.discipline'}}</label>
                    <div class="form-fields">
                        <select name="system.type">
                            {{selectOptions config.spellType selected=system.type localize=true blank=""}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize 'FU.duration'}}</label>
                    <div class="form-fields">
                        <select name="system.duration">
                            {{selectOptions config.spellDuration selected=system.duration localize=true blank=""}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize 'FU.spellEffect'}}</label>
                    <div class="form-fields">
                        {{editor system.effect target="{{localize 'FU.spellEffect'}}" button=false editable=true engine="prosemirror" collaborate=false}}
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize 'FU.spellOpportunity'}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="system.opportunity" {{checked system.opportunity}}>
                    </div>
                </div>
                {{#if system.opportunity}}
                <div class="form-group">
                    <div class="form-fields">
                        {{editor system.opportunityEffect target="{{localize 'FU.spellOpportunity'}}" button=false editable=true engine="prosemirror" collaborate=false}}
                    </div>
                </div>
                {{/if}}
            </div>
        </section>
    </section>
</form>