<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Item.name'}}"/></h1>
            <div class="resources grid grid-2col">
				RISORSE
			</div>
            <div class="abilities grid grid-3col">
				ABILITA'
			</div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    <section class="sheet-body">
        <textarea name="system.weapon.description" rows="2" placeholder="{{localize 'FU.Item.description'}}">{{system.weapon.description}}</textarea>
        <table>
            <thead>
                <tr>
                    <th>{{localize 'FU.Item.damage'}}</th>
                    <th>{{localize 'FU.Item.price'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="number" name="system.weapon.damage" value="{{system.weapon.damage}}" placeholder="{{localize 'FU.Item.damage'}}" min="0" data-dtype="Number">
                    </td>
                    <td>
                        <input type="number" name="system.weapon.price" value="{{system.weapon.price}}" placeholder="{{localize 'FU.Item.price'}}" min="0" data-dtype="Number">
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</form>