<div class="dice-damage">
	<div class="damage-type">
		danni da 
		<strong>
			{{#unless (eq item.system.damage.type.value '')}}
				{{localize (concat 'FU.DamageTypes.' item.system.damage.type.value)}}
			{{else}}
				(a scelta)
			{{/unless}}
		</strong>
	</div>
	<div class="dice-total">
		{{#if (eq item.type 'spell')}}
			{{add highRoll item.system.damage.value roll.data.level.damageBonus roll.data.bonus.damage.spell}}
		{{else}}
			{{add highRoll item.system.damage.value roll.data.level.damageBonus roll.data.bonus.damage.base}}
		{{/if}}
	</div>
</div>