<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <div class="profile-container">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
        </div>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
            </h1>
            <div class="textarea-container">
                <textarea name="system.summary.value" cols="3">{{system.summary.value}}</textarea>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Descrizione</a>
        <a class="item" data-tab="benefits">Benefici gratuiti</a>
        <a class="item" data-tab="features">Abilità</a>
    </nav>

    <section class="sheet-body">
        {{#if @root.editable}}
        <input name="system.art.src" type="text" placeholder="Immagine" value="{{system.art.src}}" readonly>
        <button type="button" class="change-image">Cambia immagine</button>
        {{/if}}
        <img src="{{system.art.src}}" width="200">
		<div class="tab desc" data-group="primary" data-tab="description">
            <div class="form-group">
                <label for="system.alias.value">Alias:</label>
                <input name="system.alias.value" type="text" value="{{system.alias.value}}">
            </div>

            Domande: <br>
            <ul>
                {{#each system.questions as |question questionIndex|}}
                <li>
                    <input name="system.questions.{{questionIndex}}" type="text" value="{{question}}">
                </li>
                {{/each}}
            </ul>
            <button type="button" class="add-question" style="max-width:100px;">+</button>
            <button type="button" class="remove-question" style="max-width:100px;">-</button>

            {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}
        </div>

		<div class="tab benefits" data-group="primary" data-tab="benefits">
            <div class="form-group">
                <label for="system.bonus.hp">Punti vita (PV):</label>
                <input name="system.bonus.hp" type="checkbox" {{checked system.bonus.hp}}>
            </div>
            <div class="form-group">
                <label for="system.bonus.mp">Punti mente (PM):</label>
                <input name="system.bonus.mp" type="checkbox" {{checked system.bonus.mp}}>
            </div>
            <div class="form-group">
                <label for="system.bonus.ip">Punti inventario (PI):</label>
                <input name="system.bonus.ip" type="checkbox" {{checked system.bonus.ip}}>
            </div>

            <hr>

            Rituali: <br>
            <ul>
                <li>
                    <label for="system.bonus.ritual.arcanism">Arcanismo:</label>
                    <input name="system.bonus.ritual.arcanism" type="checkbox" {{checked system.bonus.ritual.arcanism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.chimerism">Chimerismo:</label>
                    <input name="system.bonus.ritual.chimerism" type="checkbox" {{checked system.bonus.ritual.chimerism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.elementalism">Elementalismo:</label>
                    <input name="system.bonus.ritual.elementalism" type="checkbox" {{checked system.bonus.ritual.elementalism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.entropism">Entropismo:</label>
                    <input name="system.bonus.ritual.entropism" type="checkbox" {{checked system.bonus.ritual.entropism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.ritualism">Ritualismo:</label>
                    <input name="system.bonus.ritual.ritualism" type="checkbox" {{checked system.bonus.ritual.ritualism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.spiritism">Spiritismo:</label>
                    <input name="system.bonus.ritual.spiritism" type="checkbox" {{checked system.bonus.ritual.spiritism}}>
                </li>
            </ul>
            
            <hr>

            Equipaggiamenti: <br>
            <ul>
                <li>
                    <label for="system.bonus.weapon.meleeWeapon">Arma da mischia marziale:</label>
                    <input name="system.bonus.weapon.meleeWeapon" type="checkbox" {{checked system.bonus.weapon.meleeWeapon}}>
                </li>
                <li>
                    <label for="system.bonus.weapon.rangedWeapon">Arma a distanza marziale:</label>
                    <input name="system.bonus.weapon.rangedWeapon" type="checkbox" {{checked system.bonus.weapon.rangedWeapon}}>
                </li>
                <li>
                    <label for="system.bonus.weapon.armor">Armatura marziale:</label>
                    <input name="system.bonus.weapon.armor" type="checkbox" {{checked system.bonus.weapon.armor}}>
                </li>
                <li>
                    <label for="system.bonus.weapon.shield">Scudo marziale:</label>
                    <input name="system.bonus.weapon.shield" type="checkbox" {{checked system.bonus.weapon.shield}}>
                </li>
            </ul>
        </div>
		
        <div class="tab features" data-group="primary" data-tab="features">
            <br>
            Abilità di classe:
            {{#each flags.fabula.subItems}}
                {{#if (eq this.type "classFeature")}}
                    <hr>
                    <strong>{{this.name}}</strong>
                    {{#gt this.system.level.max 1}}
                        - {{this.system.level.max}}
                    {{/gt}}
                    <br>
                    {{editor this.system.description target="this.system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=false }}
                    <button type="button" class="removeFeature" data-id="{{this._id}}">Rimuovi</button>
                {{/if}}
            {{/each}}
        </div>
    </section>
</form>