<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>

        {{#if @root.editable}}
            <select class="select-source is-top-right" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="base">
            <span>Base</span>
        </a>
        <a class="item" data-tab="effects">
            <span>Effetti</span>
        </a>
    </nav>

    <section class="sheet-body">
        <div class="tab base" data-group="primary" data-tab="base">
            <div class="editor-full">
                {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
            </div>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{#each effects as |category catIndex|}}
                {{> 'systems/fabula/templates/common/active-effects.hbs' category=category element=../item}}
            {{/each}}
        </div>
    </section>
</form>