<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
        <div class="class-icon">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
    </header>

    {{!-- <select name="system.sourcebook">
        {{selectOptions sourcebook selected=system.sourcebook localize=true}}
    </select> --}}

    {{!-- <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Descrizione</a>
        <a class="item" data-tab="benefits">Benefici gratuiti</a>
        <a class="item" data-tab="features">Abilità</a>
    </nav> --}}

    <section class="sheet-body">
        {{#if @root.editable}}
        <input name="system.art.src" type="text" placeholder="Immagine" value="{{system.art.src}}" readonly>
        <button type="button" class="change-image">Cambia immagine</button>
        {{/if}}
        
		<div class="tab desc" data-group="primary" data-tab="description">
            <div class="form-group form-alias">
                <label>Anche:</label>
                <input name="system.alias.value" type="text" value="{{system.alias.value}}">
            </div>

            <img src="{{system.art.src}}" class="img-class-primary">

            <div class="summary-container">
                {{#if @root.editable}}
                    <textarea name="system.summary.value" cols="3" rows="1">{{system.summary.value}}</textarea>
                {{else}}
                    {{system.summary.value}}
                {{/if}}
            </div>

            <div class="desc-container">
                <div class="box">
                    <ul class="list-questions">
                        {{#each system.questions as |question questionIndex|}}
                        <li>
                            {{#if @root.editable}}
                                <input name="system.questions.{{questionIndex}}" type="text" value="{{question}}">
                            {{else}}
                                {{question}}
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="box">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}
                </div>
            </div>
            {{!-- <button type="button" class="add-question" style="max-width:100px;">+</button>
            <button type="button" class="remove-question" style="max-width:100px;">-</button> --}}
        </div>

		<div class="tab benefits" data-group="primary" data-tab="benefits">
            <div class="form-group">
                <label for="system.bonus.hp">Punti vita (PV):</label>
                <input name="system.bonus.hp" type="checkbox" {{checked system.bonus.hp}}>
            </div>
            <div class="form-group">
                <label for="system.bonus.mp">Punti mente (PM):</label>
                <input name="system.bonus.mp" type="checkbox" {{checked system.bonus.mp}}>
            </div>
            <div class="form-group">
                <label for="system.bonus.ip">Punti inventario (PI):</label>
                <input name="system.bonus.ip" type="checkbox" {{checked system.bonus.ip}}>
            </div>

            <hr>

            Rituali: <br>
            <ul>
                <li>
                    <label for="system.bonus.ritual.arcanism">Arcanismo:</label>
                    <input name="system.bonus.ritual.arcanism" type="checkbox" {{checked system.bonus.ritual.arcanism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.chimerism">Chimerismo:</label>
                    <input name="system.bonus.ritual.chimerism" type="checkbox" {{checked system.bonus.ritual.chimerism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.elementalism">Elementalismo:</label>
                    <input name="system.bonus.ritual.elementalism" type="checkbox" {{checked system.bonus.ritual.elementalism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.entropism">Entropismo:</label>
                    <input name="system.bonus.ritual.entropism" type="checkbox" {{checked system.bonus.ritual.entropism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.ritualism">Ritualismo:</label>
                    <input name="system.bonus.ritual.ritualism" type="checkbox" {{checked system.bonus.ritual.ritualism}}>
                </li>
                <li>
                    <label for="system.bonus.ritual.spiritism">Spiritismo:</label>
                    <input name="system.bonus.ritual.spiritism" type="checkbox" {{checked system.bonus.ritual.spiritism}}>
                </li>
            </ul>
            
            <hr>

            Equipaggiamenti: <br>
            <ul>
                <li>
                    <label for="system.bonus.weapon.meleeWeapon">Arma da mischia marziale:</label>
                    <input name="system.bonus.weapon.meleeWeapon" type="checkbox" {{checked system.bonus.weapon.meleeWeapon}}>
                </li>
                <li>
                    <label for="system.bonus.weapon.rangedWeapon">Arma a distanza marziale:</label>
                    <input name="system.bonus.weapon.rangedWeapon" type="checkbox" {{checked system.bonus.weapon.rangedWeapon}}>
                </li>
                <li>
                    <label for="system.bonus.weapon.armor">Armatura marziale:</label>
                    <input name="system.bonus.weapon.armor" type="checkbox" {{checked system.bonus.weapon.armor}}>
                </li>
                <li>
                    <label for="system.bonus.weapon.shield">Scudo marziale:</label>
                    <input name="system.bonus.weapon.shield" type="checkbox" {{checked system.bonus.weapon.shield}}>
                </li>
            </ul>
        </div>
		
        <div class="tab features" data-group="primary" data-tab="features">
            <br>
            Abilità di classe:
            {{#each flags.fabula.subItems}}
                {{#if (eq this.type "classFeature")}}
                    <hr>
                    <strong>{{this.name}}</strong>
                    {{#gt this.system.level.max 1}}
                        - {{this.system.level.max}}
                    {{/gt}}
                    <br>
                    {{{this.system.description}}}
                    <button type="button" class="removeFeature" data-id="{{this._id}}">Rimuovi</button>
                {{/if}}
            {{/each}}
        </div>
    </section>
</form>