<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>

        {{#if @root.editable}}
            <select class="select-source is-top-right" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="description"><span>{{localize 'FU.Sheet.DescriptionTab'}}</span></a>
        <a class="item" data-tab="details"><span>{{localize 'FU.Sheet.DetailsTab'}}</span></a>
        {{#if system.isOffensive.value}}
            <a class="item" data-tab="damage"><span>{{localize 'FU.Sheet.DamageTab'}}</span></a>
        {{/if}}
    </nav>

    <section class="sheet-body">
		<div class="tab desc" data-group="primary" data-tab="description">
            <table class="is-3">
                <thead>
                    <tr>
                        <th>{{localize 'FU.MPabbr'}}</th>
                        <th>{{localize 'FU.target'}}</th>
                        <th>{{localize 'FU.duration'}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{system.MPCost.value}}
                            {{#gt system.target.number 1}}
                            x {{localize 'FU.targetAbbr'}}
                            {{/gt}}
                        </td>
                        <td>
                            <input type="text" name="system.target.value" value="{{system.target.value}}" placeholder="{{localize 'FU.target'}}">
                        </td>
                        <td>
                            <select name="system.duration.value">
                                {{selectOptions SpellDurations selected=system.duration.value sort=true localize=true}}
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}

            {{#if system.opportunity.value}}
                {{editor enrichedHtml.opportunity target="system.opportunityEffect" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
            {{/if}}
		</div>

		<div class="tab details" data-group="primary" data-tab="details">
            <div class="form-group">
                <label for="system.isOffensive.value">{{localize 'FU.spellOffensive'}}?</label>
                <input type="checkbox" name="system.isOffensive.value" {{checked system.isOffensive.value}}>
            </div>
            <div class="form-group">
                <label>{{localize 'FU.target'}}</label>
                <input type="number" name="system.MPCost.value" value="{{system.MPCost.value}}" placeholder="{{localize 'FU.MP'}}">
                x
                <input type="number" name="system.target.number" value="{{system.target.number}}" placeholder="{{localize 'FU.targetPL'}}">
            </div>
            <div class="form-group">
                <label for="system.opportunity.value">{{localize 'FU.spellOpportunity'}}?</label>
                <input type="checkbox" name="system.opportunity.value" {{checked system.opportunity.value}}>
            </div>
		</div>
        <div class="tab dmg" data-gr="primary" data-tab="damage">
            <div class="form-group">
                <label>Test di Magia:</label>
                <select name="system.attributes.primary">
                    {{selectOptions attributes selected=system.attributes.primary sort=true localize=true}}
                </select>
                +
                <select name="system.attributes.secondary">
                    {{selectOptions attributes selected=system.attributes.secondary sort=true localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label for="system.damage.hasDamage.value">Danno:</label>
                <input type="checkbox" name="system.damage.hasDamage.value" {{checked system.damage.hasDamage.value}}>
                {{#if system.damage.hasDamage.value}}
                <input type="number" name="system.damage.value" value="{{system.target.MPCost}}" placeholder="Danno">
                <select name="system.damage.type">
                    {{selectOptions DamageTypes selected=system.damage.type sort=true localize=true}}
                </select>
                {{/if}}
            </div>
        </div>
    </section>
</form>