<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <div class="profile-container">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
        </div>
        <div class="header-fields">
            <h1 class="charname">
                {{#if system.isMartial.value}}
                <div class="icon-offensive"></div>
                {{/if}}
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
            </h1>
            <div class="textarea-container">
                <textarea name="system.summary.value" cols="3">{{system.summary.value}}</textarea>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <table>
            <thead>
                <tr>
                    <th>{{localize 'FU.rarity'}}</th>
                    <th>{{localize 'FU.cost'}}</th>
                    <th>{{localize 'FU.defence'}}</th>
                    <th>{{localize 'FU.magicDefenceAbbr'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select name="system.rarity.value">
                            {{selectOptions rarityList selected=system.rarity.value localize=true}}
                        </select>
                    </td>
                    <td>
                        <input name="system.cost.value" type="number" class="input-sm" value="{{system.cost.value}}" placeholder="{{localize 'FU.Zenit'}}"/> {{localize 'FU.ZenitAbbr'}}
                    </td>
                    <td>
                        <input name="system.defenceBonus.value" type="number" value="{{system.defenceBonus.value}}" placeholder="{{localize 'FU.defence'}}"/>
                    </td>
                    <td>
                        <input name="system.magicDefenceBonus.value" type="number" value="{{system.magicDefenceBonus.value}}" placeholder="{{localize 'FU.magicDefence'}}"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label for="system.isMartial.value">{{localize 'FU.equipmentMartial'}}?</label>
            <input type="checkbox" name="system.isMartial.value" {{checked system.isMartial.value}}>
        </div>
        {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
    </section>
</form>