<form class="{{cssClass}} {{item.type}} is-feature flexcol" autocomplete="off">

    <header class="sheet-header">
        {{#if (or @root.editable (not (eq item.img 'systems/fabula/assets/icons/default-classFeature.svg')))}}
            <div class="class-icon">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
        {{/if}}

        {{#if @root.editable}}
            <select class="select-source" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="base">
            <span>Base</span>
        </a>
        <a class="item" data-tab="effects">
            <span>Effetti</span>
        </a>
    </nav>

    <section class="sheet-body">
        <div class="tab base" data-group="primary" data-tab="base">
            <div class="feature-box">
                <div class="feature-head">
                    {{#if @root.editable}}
                        <input name="name" type="text" value="{{item.name}}" />
                        <div class="form-group ml-auto">
                            <label for="system.isUnlimited" class="mr-05">Illimitata</label>
                            <input type="checkbox" name="system.isUnlimited" id="system.isUnlimited" data-tooltip="Abilità Illimitata" {{checked system.isUnlimited}}>
                        </div>
                        <span>
                            (<span>l</span><input name="system.level.max" type="number" value="{{system.level.max}}">)
                        </span>
                    {{else}}
                        {{item.name}}
                        <span>
                            {{#if system.isUnlimited}}
                                (<span class="font-yanone">ILLIMITATA</span>)
                            {{else}}
                                (<span>l</span>{{this.system.level.max}})
                            {{/if}}
                        </span>
                    {{/if}}
                </div>
                <div class="feature-body">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData owner=owner editable=editable }}
                </div>
            </div>
            
            {{#each subItems}}
                <div class="equip-box">
                    <div class="equip-head">
                        <img src="{{this.img}}" title="{{this.name}}" />
                        <table>
                            <thead>
                                <tr>
                                    <th>Arma</th>
                                    <th>Precisione</th>
                                    <th>Danno</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{localize (concat 'FU.weaponCategories.' this.system.type)}}</td>
                                    <td>
                                        <strong>
                                            【{{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.primary.value)}}
                                            + 
                                            {{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.secondary.value)}}】
                                            {{#unless (eq this.system.precisionBonus 0)}}
                                                {{#gt this.system.precisionBonus 0}}
                                                    +{{this.system.precisionBonus}}
                                                {{else}}
                                                    {{this.system.precisionBonus}}
                                                {{/gt}}
                                            {{/unless}}
                                        </strong>
                                    </td>
                                    <td>
                                        <strong>
                                            【TM
                                            {{#gt_e this.system.damage.value 0}}
                                                + {{this.system.damage.value}}】
                                            {{else}}
                                                - {{multiply this.system.damage.value -1}}】
                                            {{/gt_e}}
                                            {{localize (concat 'FU.DamageTypes.' this.system.damage.type.value)}}
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="equip-body">
                        <div class="desc-container">
                            {{#if this.system.needTwoHands}}
                                Due mani
                            {{else}}
                                Una mano
                            {{/if}}
                            <div class="divider-decoration"></div>
                            {{localize (concat 'FU.WeaponRanges.' this.system.range)}}
                        </div>
                        <div class="desc-container">
                            {{{this.system.description}}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{#each effects as |category catIndex|}}
                {{> 'systems/fabula/templates/common/active-effects.hbs' category=category element=../item}}
            {{/each}}
        </div>
    </section>
</form>