<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> 'systems/fabula/templates/item/common/sheet-header.hbs' showClassImage=true }}

    {{!-- Sheet Tabs --}}
    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="description">
            <span>Descrizione</span>
        </a>
        <a class="item" data-tab="skills">
            <span>Abilità</span>
        </a>
        <a class="item" data-tab="settings">
            <span>Opzioni</span>
        </a>
    </nav>

    <section class="sheet-body">
		<div class="tab desc" data-group="primary" data-tab="description">
            <div class="form-group form-alias">
                <label>Anche:</label>
                <input name="system.alias.value" type="text" value="{{system.alias.value}}">
            </div>

            <img src="{{system.art.src}}" class="img-class-primary">

            <div class="summary-container">
                {{#if @root.editable}}
                    <textarea name="system.summary.value" cols="3" rows="1">{{system.summary.value}}</textarea>
                {{else}}
                    {{system.summary.value}}
                {{/if}}
            </div>

            <div class="desc-container">
                <div class="box">
                    <ul class="list-questions">
                        {{#each system.questions as |question questionIndex|}}
                        <li>
                            {{#if @root.editable}}
                                <input name="system.questions.{{questionIndex}}" type="text" value="{{question}}">
                            {{else}}
                                {{question}}
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                    {{#if @root.editable}}
                        <div class="btn-container">
                            <button type="button" class="js_newEntryToArray" data-target="system.questions">+</button>
                            <button type="button" class="js_removeLastToArray" data-target="system.questions">-</button>
                        </div>
                    {{/if}}
                </div>
                <div class="box">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}
                </div>
            </div>
        </div>

		<div class="tab skills" data-group="primary" data-tab="skills">
            <div class="title">Abilità di classe</div>

            {{#each (getItemsByFabulaID system.features) as |feature featureIndex|}}
                <div class="feature-box">
                    <div class="feature-head">
                        <button type="button" class="js_removeFromArray" data-prop="system.features" data-index="{{featureIndex}}
                        ">Rimuovi</button>
                        
                        {{feature.name}}
                        {{#gt feature.system.level.max 1}}
                            <span>
                                (<span>l</span>{{feature.system.level.max}})
                            </span>
                        {{/gt}}
                    </div>
                    <div class="feature-body">
                        {{{feature.enrichedHtml.description}}}
                    </div>
                </div>
            {{/each}}
            
            {{#each features}}
                {{#each this.flags.fabula.subItems}}
                    <div class="equip-box">
                        <div class="equip-head">
                            <img src="{{this.img}}" title="{{this.name}}" />
                            <table>
                                <thead>
                                    <tr>
                                        <th>Arma</th>
                                        <th>Precisione</th>
                                        <th>Danno</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{localize (concat 'FU.weaponCategories.' this.system.type)}}</td>
                                        <td>
                                            <strong>
                                                【{{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.primary.value)}}
                                                + 
                                                {{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.secondary.value)}}】
                                                {{#unless (eq this.system.precisionBonus 0)}}
                                                    {{#gt this.system.precisionBonus 0}}
                                                        +{{this.system.precisionBonus}}
                                                    {{else}}
                                                        {{this.system.precisionBonus}}
                                                    {{/gt}}
                                                {{/unless}}
                                            </strong>
                                        </td>
                                        <td>
                                            <strong>
                                                【TM
                                                {{#gt_e this.system.damage.value 0}}
                                                    + {{this.system.damage.value}}】
                                                {{else}}
                                                    - {{multiply this.system.damage.value -1}}】
                                                {{/gt_e}}
                                                {{localize (concat 'FU.DamageTypes.' this.system.damage.type.value)}}
                                            </strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="equip-body">
                            <div class="desc-container">
                                {{#if this.system.needTwoHands}}
                                    Due mani
                                {{else}}
                                    Una mano
                                {{/if}}
                                <div class="divider-decoration"></div>
                                {{localize (concat 'FU.WeaponRanges.' this.system.range)}}
                            </div>
                            <div class="desc-container">
                                {{{this.system.description}}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        </div>

        {{!-- Tab Settings --}}
        <div class="tab settings" data-group="primary" data-tab="settings">

            {{!-- General Fields --}}
            <fieldset>
                <legend>Generali</legend>
                
                <div class="form-group">
                    <label>Fabula ID</label>
                    <div class="input-group">
                        <input type="text" name="system.fabulaID" value="{{system.fabulaID}}" readonly />
                        <button type="button" class="js_regenerateFabulaID" data-tooltip="{{localize 'FU.fabulaID.regenerate'}}">
                            <i class="fa fa-fw fa-rotate"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label>Artwork</label>
                    <div class="input-group">
                        <input type="text" name="system.art.src" value="{{system.art.src}}" readonly />
                        <button type="button" class="js_changeImage">
                            <i class="fa fa-fw fa-file-import"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label>Livello attuale</label>
                    <input name="system.level.value" type="number" value="{{system.level.value}}" min="0" max="10">
                </div>
            </fieldset>

            {{!-- Benefits FIelds --}}
            <fieldset>
                <legend>Benefici gratuiti</legend>

                <div class="form-group">
                    <label>Bonus</label>
                    <div class="form-group">
                        <input name="system.bonus.hp" id="system.bonus.hp" type="checkbox" {{checked system.bonus.hp}}>
                        <label for="system.bonus.hp">PV</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.mp" id="system.bonus.mp" type="checkbox" {{checked system.bonus.mp}}>
                        <label for="system.bonus.mp">PM</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.ip" id="system.bonus.ip" type="checkbox" {{checked system.bonus.ip}}>
                        <label for="system.bonus.ip">PI</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Equipaggiamenti</label>
                    <div class="form-group" data-tooltip="Arma da mischia marziale">
                        <input name="system.bonus.weapon.meleeWeapon" id="system.bonus.weapon.meleeWeapon" type="checkbox" {{checked system.bonus.weapon.meleeWeapon}}>
                        <label for="system.bonus.weapon.meleeWeapon" class="icon icon-melee"></label>
                    </div>
                    <div class="form-group" data-tooltip="Arma a distanza marziale">
                        <input name="system.bonus.weapon.rangedWeapon" id="system.bonus.weapon.rangedWeapon" type="checkbox" {{checked system.bonus.weapon.rangedWeapon}}>
                        <label for="system.bonus.weapon.rangedWeapon" class="icon icon-ranged"></label>
                    </div>
                    <div class="form-group" data-tooltip="Armatura marziale">
                        <input name="system.bonus.weapon.armor" id="system.bonus.weapon.armor" type="checkbox" {{checked system.bonus.weapon.armor}}>
                        <label for="system.bonus.weapon.armor" class="icon icon-armor" style="filter:brightness(0);"></label>
                    </div>
                    <div class="form-group" data-tooltip="Scudo marziale">
                        <input name="system.bonus.weapon.shield" id="system.bonus.weapon.shield" type="checkbox" {{checked system.bonus.weapon.shield}}>
                        <label for="system.bonus.weapon.shield" class="icon icon-shield" style="filter:brightness(0);"></label>
                    </div>
                </div>
            </fieldset>

            {{!-- Projects Fields --}}
            <fieldset>
                <legend>Progetti</legend>

                <div class="form-group">
                    <label for="system.bonus.projects.value">Permette di avviare Progetti</label>
                    <input name="system.bonus.projects.value" id="system.bonus.projects.value" type="checkbox" {{checked system.bonus.projects.value}}>
                </div>

                {{#if system.bonus.projects.value}}
                    <div class="form-group">
                        <label>Condizione</label>
                        <div style="width:100%;flex:unset;">
                            {{editor enrichedHtml.projectCondition target="system.bonus.projects.condition" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
                        </div>
                    </div>
                {{/if}}
            </fieldset>
        </div>
    </section>
</form>