<form class="{{cssClass}} {{item.type}} is-feature flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> 'systems/fabula/templates/item/common/sheet-header.hbs' showClassImage=true }}

    {{!-- Sheet Tabs --}}
    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="base">
            <span>Descrizione</span>
        </a>
        <a class="item" data-tab="effects">
            <span>Effetti</span>
        </a>
        <a class="item" data-tab="settings">
            <span>Opzioni</span>
        </a>
    </nav>

    <section class="sheet-body">
        {{!-- Tab Base --}}
        <div class="tab base" data-group="primary" data-tab="base">
            <div class="feature-box">
                <div class="feature-head">
                    {{#if system.level.max}}
                        <input type="number" name="system.level.current" min="0" max="{{system.level.max}}" value="{{system.level.current}}">
                    {{/if}}

                    <span>
                        {{#if system.level.max}}
                            (<span>l</span>{{system.level.max}})
                        {{else}}
                            (<span class="font-yanone">ILLIMITATA</span>)
                        {{/if}}
                    </span>
                </div>
                <div class="feature-body">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData owner=owner editable=editable button=true }}
                </div>
            </div>
        </div>

        {{!-- Tab Effects --}}
        <div class="tab effects" data-group="primary" data-tab="effects">

            {{!-- Rituals Fields --}}
            <fieldset>
                <legend>Rituali</legend>

                <div class="form-group">
                    <label for="system.ritual.value">Permette di effettuare rituali</label>
                    <input type="checkbox" name="system.ritual.value" id="system.ritual.value" {{checked system.ritual.value}} {{#if system.test.value}}disabled{{/if}} />
                </div>

                {{#if system.ritual.value}}
                    <div class="form-group">
                        <label>Tipologia</label>
                        <select name="system.ritual.type">
                            {{selectOptions MagicDisciplines selected=system.ritual.type blank='' sort=true localize=true}}
                        </select>
                    </div>
                {{/if}}
            </fieldset>

            {{!-- Test Fields --}}
            <fieldset>
                <legend>Test</legend>
                
                <div class="form-group">
                    <label for="system.test.value">Richiede un Test</label>
                    <input type="checkbox" name="system.test.value" id="system.test.value" {{checked system.test.value}} {{#if system.ritual.value}}disabled{{/if}} />
                </div>

                {{#if (or system.test.value system.ritual.value)}}
                    <div class="form-group">
                        <label>Caratteristiche</label>
                        <select name="system.test.attributes.primary.value">
                            {{selectOptions attributesAbbr selected=system.test.attributes.primary.value sort=true localize=true}}
                        </select>
                        <select name="system.test.attributes.secondary.value">
                            {{selectOptions attributesAbbr selected=system.test.attributes.secondary.value sort=true localize=true}}
                        </select>
                        <div class="form-group">
                            <label style="width:100%;flex:unset;">Bonus</label>
                            <input type="text" name="system.test.bonus" value="{{system.test.bonus}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="system.test.hasChoice">Scelta multipla?</label>
                        <input type="checkbox" name="system.test.hasChoice" id="system.test.hasChoice" {{checked system.test.hasChoice}} />
                    </div>
                    {{#if system.test.hasChoice}}
                        <div class="form-group">
                            <label>Caratteristiche</label>
                            <select name="system.test.attributesSecondary.primary.value">
                                {{selectOptions attributesAbbr selected=system.test.attributesSecondary.primary.value sort=true localize=true}}
                            </select>
                            <select name="system.test.attributesSecondary.secondary.value">
                                {{selectOptions attributesAbbr selected=system.test.attributesSecondary.secondary.value sort=true localize=true}}
                            </select>
                        </div>
                    {{/if}}
                {{/if}}
            </fieldset>

            {{!-- Recovery Fields --}}
            <fieldset>
                <legend>Recupero</legend>

                <div class="form-group">
                    <label>Punti Vita</label>
                    <div class="form-group">
                        <label style="width:100%;flex:unset;">Formula</label>
                        <input type="text" name="system.recovery.hp.formula" value="{{system.recovery.hp.formula}}">
                    </div>
                </div>

                <div class="form-group">
                    <label>Punti Mente</label>
                    <div class="form-group">
                        <label style="width:100%;flex:unset;">Formula</label>
                        <input type="text" name="system.recovery.mp.formula" value="{{system.recovery.mp.formula}}">
                    </div>
                </div>

                <div class="form-group">
                    <label>Punti Inventario</label>
                    <div class="form-group">
                        <label style="width:100%;flex:unset;">Formula</label>
                        <input type="text" name="system.recovery.ip.formula" value="{{system.recovery.ip.formula}}">
                    </div>
                </div>
            </fieldset>

            {{!-- Bonus Fields --}}
            <fieldset>
                <legend>Bonus 【LA】</legend>

                <div class="form-group">
                    <label for="system.bonus.temporary">Temporaneo?</label>
                    <input type="checkbox" name="system.bonus.temporary" id="system.bonus.temporary" {{checked system.bonus.temporary}} />
                </div>

                <div class="form-group">
                    <label>Caratteristica</label>
                    <input type="text" name="system.bonus.key" value="{{system.bonus.key}}">
                </div>

                <div class="form-group">
                    <label>Modificatore</label>
                    <input type="text" name="system.bonus.modifier" value="{{system.bonus.modifier}}">
                </div>
            </fieldset>

            {{!-- Active Effects --}}
            {{#each effects as |category catIndex|}}
                {{> 'systems/fabula/templates/common/active-effects.hbs' category=category element=../item}}
            {{/each}}
        </div>

        {{!-- Tab Settings --}}
        <div class="tab settings" data-group="primary" data-tab="settings">
            
            {{!-- General Fields --}}
            <fieldset>
                <legend>Generali</legend>
                
                <div class="form-group">
                    <label>Fabula ID</label>
                    <div class="input-group">
                        <input type="text" name="system.fabulaID" value="{{system.fabulaID}}" readonly />
                        <button type="button" class="js_regenerateFabulaID" data-tooltip="{{localize 'FU.fabulaID.regenerate'}}">
                            <i class="fa fa-fw fa-rotate"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label>Origine</label>
                    <select name="system.origin">
                        {{selectGroupedOptions groupedClasses selected=system.origin blank=true sort=true localize=true}}
                    </select>
                </div>

                {{#if system.origin}}
                    <div class="form-group">
                        <label>Tipologia</label>
                        <select name="system.subtype">
                            {{selectGroupedOptions groupedFeatureSubtype selected=system.subtype blank=true sort=true localize=true}}
                        </select>
                    </div>
                {{/if}}

                <div class="form-group">
                    <label>Livello massimo</label>
                    <input name="system.level.max" type="number" value="{{system.level.max}}">
                    <p style="width:100%;flex:unset;text-align:right;">Lasciare vuoto se può essere acquisita un numero illimiato di volte</p>
                </div>
            </fieldset>

            {{!-- Advancement Fields --}}
            <fieldset>
                <legend>Avanzamento</legend>

                <div class="form-group">
                    <label for="system.advancement.value">Acquisisci abilità extra</label>
                    <input type="checkbox" name="system.advancement.value" id="system.advancement.value" {{checked system.advancement.value}}>
                </div>

                {{#if system.advancement.value}}
                    <div class="form-group">
                        <label>Abilità minime acquisite</label>
                        <input name="system.advancement.min" min="1" type="number" value="{{system.advancement.min}}">
                    </div>

                    {{#if (arrayLengthGt system.features 0)}}
                        <ul>
                            {{#each embeddedFeatures as |feature featureIndex|}}
                                <li>
                                    <button type="button" class="js_removeFromArray" data-prop="system.features" data-index="{{featureIndex}}">
                                        <i class="fa fa-fw fa-trash"></i>
                                    </button>
                                    <a class="content-link" draggable="true" data-link data-uuid="{{feature.uuid}}" data-id="{{feature._id}}" data-type="Item" data-tooltip="Apri {{feature.name}}">
                                        {{feature.name}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <p>Trascina qui le abilità che possono essere acquisite</p>
                    {{/if}}
                {{/if}}
            </fieldset>

            {{!-- Uses Fields --}}
            <fieldset>
                <legend>Utilizzi</legend>

                <div class="form-group">
                    <label>Attivo durante lo status</label>
                    <select name="system.uses.status">
                        {{selectOptions statusEffects selected=system.uses.status blank='' sort=true localize=true}}
                    </select>
                </div>

                <div class="form-group">
                    <label>Durata</label>
                    <input name="system.uses.duration" type="text" value="{{system.uses.duration}}">
                </div>

                <div class="form-group">
                    <label>Utilizzi</label>
                    <div class="form-group">
                        <label style="width:100%;flex:unset;">Spesi</label>
                        <input name="system.uses.spent" type="number" min="0" max="{{system.uses.max}}" value="{{system.uses.spent}}">
                    </div>
                    <div class="form-group">
                        <label style="width:100%;flex:unset;">Massimi</label>
                        <input name="system.uses.max" type="number" value="{{system.uses.max}}">
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
</form>