<form class="{{cssClass}} {{item.type}} equip flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
        {{#if system.isMartial.value}}
            <div class="martial-icon">l</div>
        {{/if}}

        {{#if @root.editable}}
            <select class="select-source is-top-right" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="base">
            <span>Base</span>
        </a>
        <a class="item" data-tab="effects">
            <span>Effetti</span>
        </a>
    </nav>

    <section class="sheet-body">
        <div class="tab base" data-group="primary" data-tab="base">
            {{#if @root.editable}}
                <div class="editable-options">
                    <div class="flexrow">
                        <div class="form-group">
                            <input type="checkbox" name="system.isMartial.value" id="system.isMartial.value" {{checked system.isMartial.value}}>
                            <label for="system.isMartial.value">Oggetto Marziale:</label>
                        </div>
                        
                        <div class="form-group">
                            <label for="system.rarity">Rarità:</label>
                            <select name="system.rarity" id="system.rarity">
                                {{selectOptions rarityList selected=system.rarity localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/if}}

            <div class="equip-box">
                <div class="equip-head">
                    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                    <table>
                        <thead>
                            <tr>
                                <th>Arma</th>
                                <th>Costo</th>
                                <th>Precisione</th>
                                <th>Danno</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{#if @root.editable}}
                                        <select name="system.type">
                                            {{selectOptions weaponCategories selected=system.type localize=true}}
                                        </select>
                                    {{else}}
                                        {{localize (concat 'FU.weaponCategories.' system.type)}}
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if @root.editable}}
                                        <input type="number" name="system.cost" value="{{system.cost}}">
                                    {{else}}
                                        {{#gt system.cost 0}}
                                            {{system.cost}}z
                                        {{else}}
                                            -
                                        {{/gt}}
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if @root.editable}}
                                        <div class="form-group">
                                            <select name="system.precisionAttributes.primary.value">
                                                {{selectOptions attributesAbbr selected=system.precisionAttributes.primary.value localize=true}}
                                            </select>
                                            <select name="system.precisionAttributes.secondary.value">
                                                {{selectOptions attributesAbbr selected=system.precisionAttributes.secondary.value localize=true}}
                                            </select>
                                            +
                                            <input type="number" name="system.precisionBonus" value="{{system.precisionBonus}}">
                                        </div>
                                    {{else}}
                                        <strong>
                                            【{{localize (concat 'FU.attributesAbbr.' system.precisionAttributes.primary.value)}}
                                            + 
                                            {{localize (concat 'FU.attributesAbbr.' system.precisionAttributes.secondary.value)}}】
                                            {{#unless (eq system.precisionBonus 0)}}
                                                {{#gt system.precisionBonus 0}}
                                                    +{{system.precisionBonus}}
                                                {{else}}
                                                    {{system.precisionBonus}}
                                                {{/gt}}
                                            {{/unless}}
                                        </strong>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if @root.editable}}
                                        <div class="form-group">
                                            <input type="number" name="system.damage.value" value="{{system.damage.value}}">
                                            <select name="system.damage.type.value">
                                                {{selectOptions DamageTypes selected=system.damage.type.value localize=true}}
                                            </select>
                                        </div>
                                    {{else}}
                                        <strong>
                                            【TM
                                            {{#gt_e system.damage.value 0}}
                                                + {{system.damage.value}}】
                                            {{else}}
                                                - {{multiply system.damage.value -1}}】
                                            {{/gt_e}}
                                            {{localize (concat 'FU.DamageTypes.' system.damage.type.value)}}
                                        </strong>
                                    {{/if}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="equip-body">
                    {{#if @root.editable}}
                        <div class="flexrow">
                            <div class="form-group">
                                <input type="checkbox" id="system.needTwoHands" name="system.needTwoHands" {{checked system.needTwoHands}}>
                                <label for="system.needTwoHands">Arma a due mani</label>
                            </div>
                            <div class="form-group">
                                <label>Gittata:</label>
                                <select name="system.range">
                                    {{selectOptions WeaponRanges selected=system.range localize=true}}
                                </select>
                            </div>
                        </div>
                    {{else}}
                        <div class="desc-container">
                            {{#if system.needTwoHands}}
                                Due mani
                            {{else}}
                                Una mano
                            {{/if}}
                            <span class="diamond-char">◆</span>
                            {{localize (concat 'FU.WeaponRanges.' system.range)}}
                        </div>
                    {{/if}}
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
                </div>
            </div>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{#each effects as |category catIndex|}}
                {{> 'systems/fabula/templates/common/active-effects.hbs' category=category}}
            {{/each}}
        </div>
    </section>
</form>