<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
        {{#if system.isOffensive.value}}
            <div class="icon icon-offensive"></div>
        {{/if}}

        {{#if system.type.value}}
            <div class="class-icon">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            </div>
        {{/if}}

        {{#if @root.editable}}
            <select class="select-source is-top-right" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="description"><span>{{localize 'FU.Sheet.DescriptionTab'}}</span></a>
        {{#if @root.editable}}
            <a class="item" data-tab="details"><span>Offensivo</span></a>
        {{/if}}
    </nav>

    <section class="sheet-body">
		<div class="tab desc" data-group="primary" data-tab="description">
            <table class="is-3">
                <thead>
                    <tr>
                        <th>{{localize 'FU.MPabbr'}}</th>
                        <th>{{localize 'FU.target'}}</th>
                        <th>{{localize 'FU.duration'}}</th>
                        {{#if @root.editable}}
                            <th>Magisfera</th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{#if @root.editable}}
                                <div class="form-group mp">
                                    <input name="system.MPCost.upTo" type="checkbox" {{checked system.MPCost.upTo}} data-tooltip="Fino a {{system.MPCost.value}} PM">
                                    <input name="system.MPCost.value" type="number" value="{{system.MPCost.value}}">
                                </div>
                            {{else}}
                                {{#if system.MPCost.upTo}}
                                    Fino a
                                {{/if}}

                                {{system.MPCost.value}}

                                {{#gt system.target.number 1}}
                                    x {{localize 'FU.targetAbbr'}}
                                {{/gt}}
                            {{/if}}
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" name="system.target.value" value="{{system.target.value}}">
                                {{#if @root.editable}}
                                    <input class="input-sm" name="system.target.number" type="number" value="{{system.target.number}}">
                                {{/if}}
                            </div>
                        </td>
                        <td>
                            <select name="system.duration.value">
                                {{selectOptions SpellDurations selected=system.duration.value sort=true localize=true}}
                            </select>
                        </td>
                        {{#if @root.editable}}
                            <td>
                                <input type="checkbox" name="system.isMagisphere.value" id="system.isMagisphere.value" {{checked system.isMagisphere.value}}>
                            </td>
                        {{/if}}
                    </tr>
                </tbody>
            </table>
            <div class="body-container">
                {{#if @root.editable}}
                    <div class="title">Tipologia</div>
                    <div class="form-group form-type">
                        <select name="system.type.value">
                            {{selectOptions SpellDisciplines selected=system.type.value localize=true}}
                        </select>
                        {{#unless (eq system.type.value '')}}
                            <p>
                                Test di Magia: <strong>【{{localize (concat 'FU.attributesAbbr.' system.attributes.primary.value)}} + {{localize (concat 'FU.attributesAbbr.' system.attributes.secondary.value)}}】</strong>
                            </p>
                        {{else}}
                            <p class="text-center"><strong>oppure</strong></p>
                            <select name="system.attributes.primary.value">
                                {{selectOptions attributesAbbr selected=system.attributes.primary.value localize=true}}
                            </select>
                            <select name="system.attributes.secondary.value" class="m-0">
                                {{selectOptions attributesAbbr selected=system.attributes.secondary.value localize=true}}
                            </select>
                        {{/unless}}
                    </div>
                {{/if}}
                {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}

                {{#unless @root.editable}}
                    {{#if system.opportunity.value}}
                        <div class="title">Opportunità</div>
                        {{editor enrichedHtml.opportunityEffect target="system.opportunityEffect" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
                    {{/if}}
                {{/unless}}
            </div>
		</div>

        {{#if (or @root.editable system.isOffensive.value)}}
            <div class="tab details" data-group="primary" data-tab="details">
                <div class="form-group">
                    <input type="checkbox" name="system.isOffensive.value" id="system.isOffensive.value" {{checked system.isOffensive.value}}>
                    <label for="system.isOffensive.value">Si tratta di un incantesimo <strong>offensivo</strong>?</label>
                </div>

                {{#if system.isOffensive.value}}
                    {{#if @root.editable}}
                        <div class="form-group">
                            <input type="checkbox" id="system.damage.hasDamage" name="system.damage.hasDamage" {{checked system.damage.hasDamage}}>
                            <label for="system.damage.hasDamage">Infligge danno?</label>
                        </div>

                        {{#if system.damage.hasDamage}}
                            <div class="form-group form-dmg">
                                <p><strong>【TM +</strong></p>
                                <input type="number" name="system.damage.value" value="{{system.damage.value}}" placeholder="Danno">
                                <p><strong>】</strong> danni da </p>

                                <select name="system.damage.type.value">
                                    {{selectOptions DamageTypes selected=system.damage.type.value localize=true}}
                                </select>
                            </div>
                        {{/if}}

                        <div class="form-group">
                            <input type="checkbox" id="system.opportunity.value" name="system.opportunity.value" {{checked system.opportunity.value}}>
                            <label for="system.opportunity.value">Questo incantesimo possiede un'<strong>Opportunità</strong>?</label>
                        </div>
                    {{/if}}

                    {{#if system.opportunity.value}}
                        {{editor enrichedHtml.opportunity target="system.opportunityEffect" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
                    {{/if}}
                {{/if}}
            </div>
        {{/if}}
    </section>
    
</form>