<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
        {{#if @root.editable}}
            <select class="select-source is-top-right" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <section class="sheet-body">
        <div class="tab">
            <div class="editor-full">
                {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}

                {{#if (or @root.editable system.itemList.active)}}
                    <div class="title mt-0">
                        {{#if @root.editable}}
                            <input type="text" name="system.itemList.title" value="{{system.itemList.title}}" placeholder="Titolo">
                        {{else}}
                            {{system.itemList.title}}
                        {{/if}}
                    </div>
                    <div class="list-content">
                        <div class="flexrow">
                            <div class="form-group">
                                <input type="checkbox" id="system.itemList.active" name="system.itemList.active" {{checked system.itemList.active}}>
                                <label for="system.itemList.active">Mostrare elenco di oggetti</label>
                            </div>
                            {{#if system.itemList.active}}
                                <div class="form-group">
                                    <select name="system.itemList.list">
                                        {{selectOptions ItemTypes selected=system.itemList.list localize=true}}
                                    </select>
                                </div>
                            {{/if}}
                        </div>
                        {{#allTrue system.itemList.active system.itemList.list}}
                            {{renderItemList itemLists system.itemList.list}}
                        {{/allTrue}}
                    </div>
                {{/if}}
            </div>
        </div>
    </section>
</form>