<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <div class="profile-container">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
        </div>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
            </h1>
            <div class="textarea-container">
                <textarea name="system.summary.value" cols="3">{{system.summary.value}}</textarea>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize 'FU.Sheet.DescriptionTab'}}</a>
        <a class="item" data-tab="details">{{localize 'FU.Sheet.DetailsTab'}}</a>
    </nav>

    <section class="sheet-body">
        <table>
            <thead>
                <tr>
                    <th>{{localize 'FU.ZenitPL'}}</th>
                    <th>{{localize 'FU.potency'}}</th>
                    <th>{{localize 'FU.area'}}</th>
                    <th>{{localize 'FU.uses'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{system.ZCost.value}} {{localize 'FU.ZenitAbbr'}}
						{{#if system.hasFlaw.value}}
							(- 25%)
						{{/if}}
					</td>
                    <td>
                        <select name="system.potency.value">
                            {{selectOptions potencyList selected=system.potency.value localize=true}}
                        </select>
                    </td>
                    <td>
                        <select name="system.area.value">
                            {{selectOptions areaList selected=system.area.value localize=true}}
                        </select>
                    </td>
                    <td>
                        <select name="system.uses.value">
                            {{selectOptions usesList selected=system.uses.value localize=true}}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="project-progressbar">
            <button type="button" class="projectProgressBtnMinus" {{#sm_e system.progress.current 0}}disabled{{/sm_e}}>-</button>
            <div class="progressbar">
                <div class="progress" style="width:{{percentage system.progress.current system.progress.max}}%">
                    {{system.progress.current}} / {{system.progress.max}}
                </div>
            </div>
            <button type="button" class="projectProgressBtnPlus" {{#gt_e system.progress.current system.progress.max}}disabled{{/gt_e}}>+</button>
        </div>
		<div class="tab desc" data-group="primary" data-tab="description">
            {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}
		</div>
		<div class="tab details" data-group="primary" data-tab="details">
            <div class="form-group">
                <label for="system.hasFlaw.value">{{localize 'FU.projectFlaw'}}?</label>
                <input type="checkbox" name="system.hasFlaw.value" {{checked system.hasFlaw.value}}>
            </div>
		</div>
    </section>
</form>