<form class="{{cssClass}} {{item.type}} is-feature flexcol" autocomplete="off">

    <header class="sheet-header">
        {{#if @root.editable}}
            <select class="select-source" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    {{#if @root.editable}}
        <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
            <a class="item" data-tab="description">
                <span>Contenuto</span>
            </a>
            <a class="item" data-tab="summary">
                <span>Descrizione</span>
            </a>
        </nav>
    {{/if}}

    <section class="sheet-body">
		<div class="tab {{#if @root.editable}}desc" data-group="primary" data-tab="description{{/if}}">
            <div class="feature-box">
                <div class="feature-head">
                    {{#if @root.editable}}
                        <input name="name" type="text" value="{{item.name}}" />
                    {{else}}
                        {{item.name}}
                    {{/if}}
                </div>
                {{#if (or @root.editable (arrayLengthGt system.requirements.class 0))}}
                    <div class="feature-sub">
                        {{#if @root.editable}}
                            <button type="button" class="js_editHeroicSkillReq">Modifica</button>
                        {{/if}}
                        <p>
                            <strong>Requisiti:</strong> {{{system.requirements.desc}}}
                        </p>
                    </div>
                {{/if}}
                <div class="feature-body {{#if spells}}has-subitem{{/if}}">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}
                    {{#each spells}}
                        <table class="is-4">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>{{this.name}}</strong>
                                        {{#if this.system.isOffensive.value}}
                                            <div class="icon icon-offensive"></div>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <strong>PM:</strong>
                                        {{#if this.system.MPCost.upTo}}
                                            Fino a
                                        {{/if}}

                                        {{this.system.MPCost.value}}

                                        {{#gt this.system.target.number 1}}
                                            x {{localize 'FU.targetAbbr'}}
                                        {{/gt}}
                                    </td>
                                    <td>
                                        <strong>Bersaglio:</strong>
                                        {{this.system.target.value}}
                                    </td>
                                    <td>
                                        <strong>Durata:</strong>
                                        {{localize (concat 'FU.SpellDurations.' this.system.duration.value)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="editor">
                            {{{this.system.description}}}
                            {{#if this.system.opportunity.value}}
                                <p><strong>Opportunità:</strong></p>
                                {{{this.system.opportunityEffect}}}
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        
		<div class="tab summary" data-group="primary" data-tab="summary">
            <div class="title">Descrizione breve</div>
            {{editor enrichedHtml.summary target="system.summary" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
        </div>
    </section>
</form>