<form class="{{cssClass}} {{item.type}} equip flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
        {{#if system.isMartial.value}}
            <div class="martial-icon">l</div>
        {{/if}}

        {{#if @root.editable}}
            <select class="select-source is-top-right" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <section class="sheet-body">
        <div class="tab">
            {{#if @root.editable}}
                <div class="editable-options">
                    <div class="flexrow">
                        <div class="form-group">
                            <input type="checkbox" name="system.isMartial.value" id="system.isMartial.value" {{checked system.isMartial.value}}>
                            <label for="system.isMartial.value">Oggetto Marziale:</label>
                        </div>
                        
                        <div class="form-group">
                            <label for="system.rarity">Rarità:</label>
                            <select name="system.rarity" id="system.rarity">
                                {{selectOptions rarityList selected=system.rarity localize=true}}
                            </select>
                        </div>
                    </div>
                </div>
            {{/if}}

            <div class="equip-box">
                <div class="equip-head">
                    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                    <table>
                        <thead>
                            <tr>
                                <th>Costo</th>
                                <th>Difesa</th>
                                <th>D. Magica</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{#if @root.editable}}
                                        <input type="number" name="system.cost" value="{{system.cost}}">
                                    {{else}}
                                        {{#gt system.cost 0}}
                                            {{system.cost}}z
                                        {{else}}
                                            -
                                        {{/gt}}
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if @root.editable}}
                                        <input type="number" name="system.defenseBonus" value="{{system.defenseBonus}}">
                                    {{else}}
                                        <strong>
                                            {{#gt system.defenseBonus 0}}
                                                + {{system.defenseBonus}}
                                            {{else}}
                                                -
                                            {{/gt}}
                                        </strong>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if @root.editable}}
                                    <input type="number" name="system.magicDefenseBonus" value="{{system.magicDefenseBonus}}">
                                    {{else}}
                                        <strong>
                                            {{#gt system.magicDefenseBonus 0}}
                                                + {{system.magicDefenseBonus}}
                                            {{else}}
                                                -
                                            {{/gt}}
                                        </strong>
                                    {{/if}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="equip-body">
                    <textarea name="system.summary" rows="2">{{system.summary}}</textarea>
                </div>
            </div>
            
            {{#if (or @root.editable (not (eq system.description "")))}}
                <div class="title">Descrizione</div>
                {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
            {{/if}}
        </div>
    </section>
</form>