<form class="{{cssClass}} {{item.type}} is-feature flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    {{> 'systems/fabula/templates/item/common/sheet-header.hbs' showClassImage=true }}

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="base">
            <span>Descrizione</span>
        </a>
        <a class="item" data-tab="settings">
            <span>Opzioni</span>
        </a>
    </nav>

    <section class="sheet-body">
        <div class="tab base" data-group="primary" data-tab="base">
            <div class="feature-box">
                <div class="feature-head">
                    {{#if @root.editable}}
                        {{!-- <input name="name" type="text" value="{{item.name}}" /> --}}
                        {{!-- <div class="form-group ml-auto">
                            <label for="system.isUnlimited" class="mr-05">Illimitata</label>
                            <input type="checkbox" name="system.isUnlimited" id="system.isUnlimited" data-tooltip="Abilità Illimitata" {{checked system.isUnlimited}}>
                        </div> --}}
                        <span>
                            (<span>l</span><input name="system.level.max" type="number" value="{{system.level.max}}">)
                        </span>
                    {{else}}
                        {{item.name}}
                        <span>
                            {{#if this.system.level.max}}
                                (<span>l</span>{{this.system.level.max}})
                            {{else}}
                                (<span class="font-yanone">ILLIMITATA</span>)
                            {{/if}}
                        </span>
                    {{/if}}
                </div>
                <div class="feature-body">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData owner=owner editable=editable }}
                </div>
            </div>
            
            {{#each subItems}}
                {{> 'systems/fabula/templates/item/common/weapons.hbs' }}
            {{/each}}
        </div>

        <div class="tab settings" data-group="primary" data-tab="settings">
            <fieldset>
                <legend>Generali</legend>
                
                <div class="form-group">
                    <label>Fabula ID</label>
                    <div class="input-group">
                        <input type="text" name="system.fabulaID" value="{{system.fabulaID}}" readonly />
                        <button type="button" class="js_regenerateFabulaID" data-tooltip="{{localize 'FU.fabulaID.regenerate'}}">
                            <i class="fa fa-fw fa-rotate"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label>Origine</label>
                    <select name="system.origin">
                        {{selectOptions classes selected=system.origin blank='' localize=true}}
                    </select>
                </div>

                {{#if system.origin}}
                    <div class="form-group">
                        <label>Tipologia</label>
                        <select name="system.subtype">
                            {{selectOptions featureSubtype selected=system.subtype blank='' localize=true}}
                        </select>
                    </div>
                {{/if}}

                <div class="form-group">
                    <label>Livello massimo</label>
                    <input name="system.level.max" type="number" value="{{system.level.max}}">
                </div>
            </fieldset>
        </div>
    </section>
    
</form>