<form class="{{cssClass}} {{item.type}} equip flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>

        {{#if @root.editable}}
            <select class="select-source is-top-right" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="base">
            <span>Base</span>
        </a>
        <a class="item" data-tab="effects">
            <span>Effetti</span>
        </a>
    </nav>

    <section class="sheet-body">
        <div class="tab base" data-group="primary" data-tab="base">
            <div class="equip-box">
                <div class="equip-head">
                    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                    <table>
                        <thead>
                            <tr>
                                <th>PI</th>
                                <th>Tipologia</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{#if @root.editable}}
                                        <input type="number" name="system.IPCost" value="{{system.IPCost}}">
                                    {{else}}
                                        {{system.IPCost}}
                                    {{/if}}
                                </td>
                                <td>
                                    <select name="system.type">
                                        {{selectOptions consumableType selected=system.type localize=true}}
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="equip-body">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
                </div>
            </div>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{#each effects as |category catIndex|}}
                {{> 'systems/fabula/templates/common/active-effects.hbs' category=category}}
            {{/each}}
        </div>
    </section>
</form>