<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

    <header class="sheet-header">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'FU.Sheet.Name'}}"/>
        <div class="class-icon">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        
        {{#if @root.editable}}
            <select class="select-source is-top-right" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <nav class="sheet-tabs tabs tabs-bookmark" data-group="primary">
        <a class="item" data-tab="description">
            <span>Descrizione</span>
        </a>
        <a class="item" data-tab="benefits">
            <span>Benefici</span>
        </a>
        {{!-- <a class="item" data-tab="effects">
            <span>Effetti</span>
        </a> --}}
    </nav>

    <section class="sheet-body">
		<div class="tab desc" data-group="primary" data-tab="description">
            <div class="form-group form-alias">
                <label>Anche:</label>
                <input name="system.alias.value" type="text" value="{{system.alias.value}}">
            </div>

            <img src="{{system.art.src}}" class="img-class-primary">
            {{#if @root.editable}}
                <button type="button" class="js_changeImage">Cambia immagine</button>
            {{/if}}

            <div class="summary-container">
                {{#if @root.editable}}
                    <textarea name="system.summary.value" cols="3" rows="1">{{system.summary.value}}</textarea>
                {{else}}
                    {{system.summary.value}}
                {{/if}}
            </div>

            <div class="desc-container">
                <div class="box">
                    <ul class="list-questions">
                        {{#each system.questions as |question questionIndex|}}
                        <li>
                            {{#if @root.editable}}
                                <input name="system.questions.{{questionIndex}}" type="text" value="{{question}}">
                            {{else}}
                                {{question}}
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                    {{#if @root.editable}}
                        <div class="btn-container">
                            <button type="button" class="js_newEntryToArray" data-target="system.questions">+</button>
                            <button type="button" class="js_removeLastToArray" data-target="system.questions">-</button>
                        </div>
                    {{/if}}
                </div>
                <div class="box">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}
                </div>
            </div>
        </div>

		<div class="tab benefits" data-group="primary" data-tab="benefits">
            {{#if @root.editable}}
                <div class="title">Aumento punti caratteristica</div>
                <div class="flexrow">
                    <div class="form-group">
                        <input name="system.bonus.hp" type="checkbox" {{checked system.bonus.hp}}>
                        <label>Punti vita (PV)</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.mp" type="checkbox" {{checked system.bonus.mp}}>
                        <label>Punti mente (PM)</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.ip" type="checkbox" {{checked system.bonus.ip}}>
                        <label>Punti inventario (PI)</label>
                    </div>
                </div>
                
                <div class="title">Rituali</div>
                <div class="flexrow">
                    <div class="form-group">
                        <input name="system.bonus.ritual.arcanism" type="checkbox" {{checked system.bonus.ritual.arcanism}}>
                        <label>Arcanismo</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.ritual.chimerism" type="checkbox" {{checked system.bonus.ritual.chimerism}}>
                        <label>Chimerismo</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.ritual.elementalism" type="checkbox" {{checked system.bonus.ritual.elementalism}}>
                        <label>Elementalismo</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.ritual.entropism" type="checkbox" {{checked system.bonus.ritual.entropism}}>
                        <label>Entropismo</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.ritual.ritualism" type="checkbox" {{checked system.bonus.ritual.ritualism}}>
                        <label>Ritualismo</label>
                    </div>
                    <div class="form-group">
                        <input name="system.bonus.ritual.spiritism" type="checkbox" {{checked system.bonus.ritual.spiritism}}>
                        <label>Spiritismo</label>
                    </div>
                </div>
                
                <div class="title">Equipaggiamenti</div>
                <div class="flexrow">
                    <div class="form-group w-50">
                        <input name="system.bonus.weapon.meleeWeapon" type="checkbox" {{checked system.bonus.weapon.meleeWeapon}}>
                        <label>Arma da mischia marziale</label>
                    </div>
                    <div class="form-group w-50">
                        <input name="system.bonus.weapon.rangedWeapon" type="checkbox" {{checked system.bonus.weapon.rangedWeapon}}>
                        <label>Arma a distanza marziale</label>
                    </div>
                    <div class="form-group w-50">
                        <input name="system.bonus.weapon.armor" type="checkbox" {{checked system.bonus.weapon.armor}}>
                        <label>Armatura marziale</label>
                    </div>
                    <div class="form-group w-50">
                        <input name="system.bonus.weapon.shield" type="checkbox" {{checked system.bonus.weapon.shield}}>
                        <label>Scudo marziale</label>
                    </div>
                </div>
                
                <div class="title">Progetti</div>
                <div class="form-group">
                    <input name="system.bonus.projects.value" type="checkbox" {{checked system.bonus.projects.value}}>
                    <label>Può avviare i Progetti</label>
                </div>
                {{#if system.bonus.projects.value}}
                    {{editor enrichedHtml.projectCondition target="system.bonus.projects.condition" engine="prosemirror" rollData=rollData button=false owner=owner editable=editable }}
                {{/if}}
            {{else}}
                <div class="title">Benefici gratuiti</div>
                {{> 'systems/fabula/templates/common/class/free-benefits.hbs'}}
            {{/if}}
            
            <div class="title">Abilità di classe</div>
            {{#each features}}
                <div class="feature-box">
                    <div class="feature-head">
                        {{#if @root.editable}}
                            <button type="button" class="removeFeature" data-id="{{this._id}}">Rimuovi</button>
                        {{/if}}
                        
                        {{this.name}}
                        {{#gt this.system.level.max 1}}
                            <span>
                                (<span>l</span>{{this.system.level.max}})
                            </span>
                        {{/gt}}
                    </div>
                    <div class="feature-body">
                        {{{this.enrichedHtml.description}}}
                    </div>
                </div>
                {{#each this.flags.fabula.subItems}}
                    <div class="equip-box">
                        <div class="equip-head">
                            <img src="{{this.img}}" title="{{this.name}}" />
                            <table>
                                <thead>
                                    <tr>
                                        <th>Arma</th>
                                        <th>Precisione</th>
                                        <th>Danno</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{localize (concat 'FU.weaponCategories.' this.system.type)}}</td>
                                        <td>
                                            <strong>
                                                【{{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.primary.value)}}
                                                + 
                                                {{localize (concat 'FU.attributesAbbr.' this.system.precisionAttributes.secondary.value)}}】
                                                {{#unless (eq this.system.precisionBonus 0)}}
                                                    {{#gt this.system.precisionBonus 0}}
                                                        +{{this.system.precisionBonus}}
                                                    {{else}}
                                                        {{this.system.precisionBonus}}
                                                    {{/gt}}
                                                {{/unless}}
                                            </strong>
                                        </td>
                                        <td>
                                            <strong>
                                                【TM
                                                {{#gt_e this.system.damage.value 0}}
                                                    + {{this.system.damage.value}}】
                                                {{else}}
                                                    - {{multiply this.system.damage.value -1}}】
                                                {{/gt_e}}
                                                {{localize (concat 'FU.DamageTypes.' this.system.damage.type.value)}}
                                            </strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="equip-body">
                            <div class="desc-container">
                                {{#if this.system.needTwoHands}}
                                    Due mani
                                {{else}}
                                    Una mano
                                {{/if}}
                                <div class="divider-decoration"></div>
                                {{localize (concat 'FU.WeaponRanges.' this.system.range)}}
                            </div>
                            <div class="desc-container">
                                {{{this.system.description}}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        </div>

        {{!-- <div class="tab effects" data-group="primary" data-tab="effects">
            {{#each effects as |category catIndex|}}
                {{> 'systems/fabula/templates/common/active-effects.hbs' category=category}}
            {{/each}}
        </div> --}}
    </section>
</form>