<form class="{{cssClass}} {{item.type}} is-feature flexcol" autocomplete="off">

    <header class="sheet-header">
        {{#if @root.editable}}
            <select class="select-source" name="system.sourcebook">
                {{selectOptions sourcebook selected=system.sourcebook localize=true}}
            </select>
        {{/if}}
    </header>

    <section class="sheet-body">
		<div class="tab">
            <div class="feature-box">
                <div class="feature-head">
                    {{#if @root.editable}}
                        <input name="name" type="text" value="{{item.name}}" />
                    {{else}}
                        {{item.name}}
                    {{/if}}
                </div>
                {{#if (or @root.editable (arrayLengthGt system.requirements.class 0))}}
                    <div class="feature-sub">
                        {{#if @root.editable}}
                            <button type="button" class="js_editHeroicSkillReq">Modifica</button>
                        {{/if}}
                        <p>
                            <strong>Requisiti:</strong>
                            {{#if (arrayLengthGt system.requirements.class 0)}}
                                devi aver padroneggiato
                                {{#if (arrayLengthGt system.requirements.class 1)}}
                                    {{#if system.requirements.multiClass}}
                                        <strong>due o più</strong>
                                    {{else}}
                                        una o più
                                    {{/if}}
                                    Classi tra
                                {{else}}
                                    la Classe
                                {{/if}}
                            {{/if}}
                            {{#each system.requirements.class as |class classIndex|}}
                                {{#unless (eq classIndex 0)}}
                                    {{#if (arrayLastIndex classIndex ../system.requirements.class)}}
                                        e
                                    {{else}}
                                        ,
                                    {{/if}}
                                {{/unless}}
                                <strong>{{class}}</strong>
                            {{/each}}
                            {{#if (arrayLengthGt system.requirements.classFeature 0)}}
                                e aver acquistato
                                {{#if (arrayLengthGt system.requirements.classFeature 1)}} 
                                    una o più Abilità tra
                                {{else}}
                                    l'Abilità 
                                {{/if}}
                                {{#each system.requirements.classFeature as |classFeature classFeatureIndex|}}
                                    {{#unless (eq classFeatureIndex 0)}}
                                        {{#if (arrayLastIndex classFeatureIndex ../system.requirements.classFeature)}}
                                            e
                                        {{else}}
                                            ,
                                        {{/if}}
                                    {{/unless}}
                                    <strong>{{classFeature}}</strong>
                                {{/each}}
                            {{/if}}
                            {{#gt system.requirements.level 0}}
                                e aver raggiunto il <strong>livello {{system.requirements.level}}</strong>
                            {{/gt}}
                            {{#gt system.requirements.offensiveSpells 0}}
                                e devi conoscere almeno <strong>{{system.requirements.offensiveSpells}}</strong> incantesimi offensivi
                            {{/gt}}
                        </p>
                    </div>
                {{/if}}
                <div class="feature-body {{#if flags.fabula.spells}}has-subitem{{/if}}">
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData button=true owner=owner editable=editable }}
                    {{#each flags.fabula.spells as |spell spellIndex|}}
                        {{#if (eq spell.type "spell")}}
                            <table class="is-4">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>{{spell.name}}</strong>
                                            {{#if spell.system.isOffensive.value}}
                                                <div class="icon icon-offensive"></div>
                                            {{/if}}
                                        </td>
                                        <td>
                                            <strong>PM:</strong>
                                            {{#if spell.system.MPCost.upTo}}
                                                Fino a
                                            {{/if}}

                                            {{spell.system.MPCost.value}}

                                            {{#gt spell.system.target.number 1}}
                                                x {{localize 'FU.targetAbbr'}}
                                            {{/gt}}
                                        </td>
                                        <td>
                                            <strong>Bersaglio:</strong>
                                            {{spell.system.target.value}}
                                        </td>
                                        <td>
                                            <strong>Durata:</strong>
                                            {{localize (concat 'FU.SpellDurations.' spell.system.duration.value)}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="editor">
                                {{{spell.system.description}}}
                                {{#if spell.system.opportunity.value}}
                                    <p><strong>Opportunità:</strong></p>
                                    {{{spell.system.opportunityEffect}}}
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</form>